html {
  scroll-behavior: smooth;
}

.wrapper {
  background: #fff;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media only screen and (max-width: 768px) {
    width: auto;
    padding: 0 40px;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.product-header {
  //margin-top: 100px;
  background-image: url(/assets/images/double.png);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

  @media all and (max-width: 768px) {
    padding: 40px 0;
    //margin-top: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-image: url(/assets/images/doublemob.png);
  }
}

.product-wrap {
  padding-top: 160px;
}

.product-btn {
  display: flex;
  padding: 16px 36px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 1000px;
  background: #f56eac;
  color: #fff;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
  border: none;
  max-width: 255px;
  transition: 0.3s ease;
  cursor: pointer;

  @media all and (max-width: 768px) {
    max-width: none;
    width: 100%;
  }
}

.product-btn:hover {
  border-radius: 24px;
  background: #f56eac;
  box-shadow: 0px 0px 20px 0px rgba(245, 110, 172, 0.4);
}


.product-btn-v2{
    display: flex;
    padding: 16px 36px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
    letter-spacing: -0.408px;
    background: none;
    cursor: pointer;
    border-radius: 1000px;
    border: 1px solid #F56EAC;
    
    max-width: 255px;
    transition: 0.3s ease;
    
    @media all and (max-width: 768px){
        max-width: none;
        width: 100%;
    }
}

.product-btn-v2:hover{
    border-radius: 24px;
    background: #F56EAC;
    box-shadow: 0px 0px 20px 0px rgba(245, 110, 172, 0.40);
}

.btns-header{
    display: flex;
    align-items: flex-start;
    gap: 25px;
    padding-top: 40px;
    
    @media all and (max-width: 768px){
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;
    }
}

.gap-10 {
  gap: 10px;
}

.gap-8 {
  gap: 8px;
}

/*------------------------------------------------------------------------*/

.width-740 {
  max-width: 740px;
  width: 100%;

  @media all and (max-width: 768px) {
    max-width: none;
  }
}

.width-535 {
  max-width: 535px;
  width: 100%;

  @media all and (max-width: 768px) {
    max-width: none;
  }
}

.width-525 {
  max-width: 525px;
  width: 100%;

  @media all and (max-width: 768px) {
    max-width: none;
  }
}

.width-500 {
  max-width: 500px;
  width: 100%;

  @media all and (max-width: 768px) {
    max-width: none;
  }
}

/*------------------------------------------------------------------------*/

.about-product {
  padding-top: 150px;

  @media all and (max-width: 768px) {
    padding-top: 80px;
  }
}

.about-product-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media all and (max-width: 768px) {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
}

.about-product-mob {
  @media all and (max-width: 768px) {
    border: 1px solid rgba(10, 23, 72, 0.1);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 100%;
  }
}

.about-product-blocks {
  display: flex;
  max-width: 535px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding-top: 40px;
}

.about-product-block {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.product-benefits {
  padding-top: 150px;

  @media all and (max-width: 768px) {
    padding-top: 80px;
  }
}

.product-benefits-wrap {
  display: flex;
  flex-direction: column;
  gap: 70px;

  @media all and (max-width: 768px) {
    gap: 40px;
  }
}

.product-benefits-blocks {
  display: flex;
  align-items: flex-start;
  gap: 70px;

  @media all and (max-width: 768px) {
    flex-direction: column;
    gap: 40px;
  }
}

.product-benefits-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

.product-benefits-img {
  @media all and (max-width: 768px) {
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
  }
}

.mob-slider {
  display: flex;

  @media all and (max-width: 768px) {
    display: none;
  }
}

.product-padding-container {
  padding-top: 150px;

  @media all and (max-width: 768px) {
    padding-top: 80px;
  }
}

.review-block {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  //flex: 1 0 0;
  align-self: stretch;
  width: 100%;
  max-width: 265px;
  min-width: 265px;
  border-radius: 24px;
  border: 1px solid rgba(10, 23, 72, 0.1);
  backdrop-filter: blur(20px);

  @media all and (max-width: 768px) {
    justify-content: space-between;
  }
}

.stars-review {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.review-height {
  height: 180px;

  @media all and (max-width: 768px) {
    height: auto;
  }
}

.mob-scroll {
  display: none;

  @media all and (max-width: 768px) {
    display: block;
  }
}

.review-slider-wrapper {
  display: none;

  @media all and (max-width: 768px) {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 40px;
    padding-right: 40px;
    gap: 20px;
    padding-top: 40px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
}

.review-slider-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.newsletter {
  padding-top: 150px;

  @media all and (max-width: 768px) {
    padding-top: 80px;
  }
}

.newsletter-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;
    
  @media all and (max-width: 768px) {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }
}

.newsletter-email-input {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  @media all and (max-width: 768px) {
    flex-direction: column;
  }
}

.newsletter-submit-button {
  color: #fff;

  display: flex;
  cursor: pointer;
  height: 46px;
  padding: 12px 27px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #f56eac;

  text-align: center;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
  border: none;
  max-width: 165px;
  width: 100%;

  @media all and (max-width: 768px) {
    max-width: none;
    width: 100%;
  }
}

.newsletter-submit-button:hover {
  border-radius: 24px;
  background: #f56eac;
  box-shadow: 0px 0px 20px 0px rgba(245, 110, 172, 0.4);
  transition: 0.3s ease;
}

.email-input {
  display: flex;
  height: 46px;
  padding: 12px 20px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  border-radius: 24px;
  border: 1px solid rgba(10, 23, 72, 0.1);
  background: #f5f5f5;

  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  max-width: 350px;
  outline: none;
  letter-spacing: -0.408px;

  @media all and (max-width: 768px) {
    max-width: none;
    width: 100%;
  }
}

.email-input::placeholder {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
  opacity: 0.3;
}

.invalid {
  border: 2px solid red;
}
