<div class="wrapper">
<app-navigation-menu type="main"></app-navigation-menu>


<section class="home-pager">
<div class="container">
    
<div class="home-pager-wrap">

<div class="home-pager-left">
<h3 class="sf-pro-display-72 width-740 desk-none1">
Transparent<br> Giving, Simplified</h3>    
<p class="sf-ui-display-32-400-06 width-740 desk-none1">
Support nonprofits with 0% overhead, <br>
business roundups, and real-time impact tracking</p> 
    
<h3 class="sf-pro-display-72 mob-none1">
Transparent Giving, Simplified</h3>    
<p class="sf-ui-display-32-400-06 mob-none1">
Support nonprofits with 0% overhead,
business roundups, and real-time impact tracking</p>     
</div>
    
    
<div class="home-pager-right">
    
<div class="card-stack">
    <div class="card-container">
  <div *ngFor="let card of cards; let i = index"
       class="card"
       [class.active]="i === activeIndex"
       [class.previous]="i === previousIndex"
       [class.next]="i === nextIndex">
    <img [src]="card" alt="Card">
  </div>
    </div>    
</div>



    
</div>    
    
</div>    
    
    
</div>        
</section>
    
    
    
    
<section class="home-pager-v2">

<div class="container">
    
<div class="home-pager-v2-wrap">

<div class="home-pager-v2-blocks">
    
<div class="home-pager-v2-block" 
(click)="goToDomain('wishes.gives', '/non-profits')">
<img src="/assets/images/icons/ic_outline-card-giftcard32.svg" class="">
    
<div class="column gap-10">
<h3 class="sf-ui-display-32-700-120">Nonprofits</h3>
<p class="sf-ui-display-24-400-120">Rise funds with no platform fees</p>    
</div>    
    
</div> 
    
<div class="home-pager-v2-block">
<img src="/assets/images/icons/ic_outline-shopping-cart32.svg" class="">
    
<div class="column gap-10">
<h3 class="sf-ui-display-32-700-120">Donors & Shoppers</h3>
<p class="sf-ui-display-24-400-120">Earn cashback while you give</p>    
</div>    
    
</div>
    
<div class="home-pager-v2-block" (click)="goToDomain('wishes.fund', '/donors')">
<img src="/assets/images/icons/ic_outline-area-chart332.svg" class="">
    
<div class="column gap-10">
<h3 class="sf-ui-display-32-700-120">Real time impact</h3>
<p class="sf-ui-display-24-400-120">Track donations and outcomes live</p>    
</div>    
    
</div>
    
    
<div class="home-pager-v2-block" (click)="goToDomain('wishespay.com', '/business')">
<img src="/assets/images/icons/ic_outline-monetization-on32.svg" class="">
    
<div class="column gap-10">
<h3 class="sf-ui-display-32-700-120">Business roundups</h3>
<p class="sf-ui-display-24-400-120">Let customers roundup purchases</p>    
</div>    
    
</div>    
    
    
    
</div>    
    
</div>    
    
</div>

    
</section>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<app-footer type="default"></app-footer>      
</div>
    
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<!--
<div class="welcome-wrapper">
<section class="start-page">
    <div class="left-side">
      <img src="/assets/images/start.png" alt="bg" />
    </div>

    <div class="right-side">
        <div class="right-side-inner">
      <div class="right-side-info">    
      <div class="column gap-10 width-340">
        <h1 class="start-title">Introducing The Wishes Companies</h1>
        <p class="start-text">
          Where Every Wish Finds its Way, Every Donation is Guaranteed & Each Dollar is Rewarded Instantly
        </p>
      </div>

      <div class="column gap-20">
        <h3 class="start-little-title">Please choose from the options below</h3>

        <div class="start-page-links">
          <a class="start-page-link" (click)="goToDomain('wishespay.com', '/business')">
            <div class="column gap-2">
            <p class="sf-ui-18-dsply-blue">Wishes.Pay</p>
            <p class="sf-ui-display-18-06">for Business</p>    
            </div>
            <img src="/assets/images/icons/icon1.svg" alt="icon" />
          </a>

          <a class="start-page-link" (click)="goToDomain('wishes.gives', '/non-profits')">
            <div class="column gap-2">
            <p class="sf-ui-18-dsply-blue">Wishes.Gives</p>
            <p class="sf-ui-display-18-06">for Non-Profits</p>    
            </div>
            <img src="/assets/images/icons/icon2.svg" alt="icon" />
          </a>

          <a class="start-page-link" (click)="goToDomain('wishes.fund', '/donors')">
            <div class="column gap-2">
            <p class="sf-ui-18-dsply-blue">Wishes.Fund</p>
            <p class="sf-ui-display-18-06">for Impact</p>    
            </div>
            <img src="/assets/images/icons/icon3.svg" alt="icon" />
          </a>
            
         <a class="start-page-link-dis">
            <div class="column gap-2">
            <p class="sf-ui-18-dsply-disabled">Wishes.Shopping</p>
            <p class="sf-ui-displ-text">for Rewards (coming soon)</p>    
             </div>    
            <img src="/assets/images/icons/shopping.svg" alt="icon" />
          </a>    

        </div>
      </div>
          
      <p class="sf-ui-display-18-06 width-340">
        Wishes guarantees every donation will be spent as intended – donors who contribute will always know when their dollars are spent and the true power of Wishes can be felt by moments of impact.</p>
          
          
     </div>      
        </div>    
    </div>
  </section>  


</div>
-->
    

    
    
<!--<section class="welcome-page">
<div class="welcome-wrap">
<div class="column gap-10">
<h3 class="welcome-title">Welcome to the Wishes</h3>
<p class="welcome-subtitle">
The Wishes Company's and Founder Sass Society Inc 501c(3) proudly present the most rewardingly transparent, impactful platform on the planet.</p>    
</div>    
    
<div class="welcome-links">
    
<div class="welcome-link" routerLink="/business">
<img src="/assets/images/icons/wel1.svg">
    
<div class="column">
<h3 class="welcome-white-title">Wishes<br> Pay</h3>
<p class="welcome-white-subtitle">Accept Donations</p>    
</div>    
    
</div>    
    
<div class="welcome-link" routerLink="/donors">
<img src="/assets/images/icons/wel2.svg">
    
<div class="column">
<h3 class="welcome-white-title">Wishes<br> Fund</h3>
<p class="welcome-white-subtitle">City of Hope</p>    
</div>    
    
</div> 
    

<button class="welcome-link" routerLink="" [disabled]="isDisabled">
<img src="/assets/images/icons/wel3.svg">
    
<div class="column">
<h3 class="welcome-black-title">Wishes<br> Shopping</h3>
<p class="welcome-black-subtitle">Shop & Support</p>    
</div>    
    
</button> 
    
    
<div class="welcome-link" routerLink="/non-profits">
<img src="/assets/images/icons/wel4.svg">
    
<div class="column">
<h3 class="welcome-black-title">Wishes<br> Gives</h3>
<p class="welcome-black-subtitle">Fund Online</p>    
</div>    
    
</div>     
</div>

</div>    
</section>-->
    
    
    
    
    


