<div class="wrapper">
<app-navigation-menu type="main"></app-navigation-menu>
    
    
<section class="about-header">
<div class="container">
    
<div class="about-wrap">
<div class="column about-z-index">
<p class="sf-pro-text-18-pink">Wishes.inc</p>    
<div class="column gap-10">
<h3 class="sf-pro-display-48-white">About Us</h3>
<p class="sf-ui-display-18-400-white width-500">
At Wishes, we’re building a future where trust, transparency, 
and technology empower nonprofits to thrive. We believe that every cause deserves the tools and visibility to grow, and every supporter deserves to know exactly how their contribution makes an impact.</p>    
</div> 

<a class="about-button" href="https://app.wishes.inc/auth/login" target="_blank">
Join us to make a bigger impact! 
</a>    
</div>    
   
<!--    
<div class="about-imgs">
<img src="/assets/images/about-img.png">    
</div>   -->
    
</div>  
</div>    
</section> 
    

<section class="platform">
<div class="container">
    
<div class="platform-wrap">

<div class="platform-right-side">
<p class="sf-pro-display-32-700-blue font-24-for-mobs">
Our platform connects nonprofits and NGOs to a network of purpose-driven individuals and businesses, providing real-time donation tracking, automated tax acknowledgment, and easy-to-use dashboards for managing funds and engagement. With our secure infrastructure and verified giving system, we ensure that organizations can focus on what truly matters — changing lives.</p> 
</div>    

<div class="platform-left-side">
<div class="column gap-20">
<p class="sf-ui-display-18-06">
We’re not just a platform; we’re your partner in purpose. Whether you’re a grassroots initiative or a global nonprofit, Wishes gives you the tools, support, and exposure to grow your reach and maximize your impact with complete transparency.</p>
    
<div class="platform-stroke">
<img src="/assets/images/icons/ic_outline-check-circle.svg">
Trusted by verified nonprofits worldwide</div>
    
<div class="platform-stroke">
<img src="/assets/images/icons/ic_outline-check-circle.svg">
Built to increase support, trust, and accountability</div>
    
<div class="platform-stroke">
<img src="/assets/images/icons/ic_outline-check-circle.svg">
Backed by real-time data, reporting, and funding tools</div>    
    
<p class="sf-ui-display-18-06">
Join us in creating a more transparent and impactful giving ecosystem —where every story is heard, and every action counts.</p>    
    
</div>    
</div>    
    
</div>    
    
</div>    
</section>  
    
    
<app-footer type="default"></app-footer>    
</div>