<div class="wrapper">
<app-navigation-menu type="main"></app-navigation-menu>
    
    
<section class="stories-header">
<div class="container">
<div class="stories-wrap">
<div class="column">
<p class="sf-pro-text-18-pink">Wishes.inc</p>    
<div class="column gap-10">
<h3 class="sf-pro-display-48-white">Success Stories</h3>
<p class="sf-ui-display-18-400-white">
Every donation tracked, every impact visible</p>    
</div> 

<a class="stories-button" href="https://app.wishes.inc/public/stories" target="_blank">
Support with Confidence 
</a>    
</div>    
</div>  
</div>    
</section> 
    

<section class="donate-now">
<div class="container">
<div class="donate-now-blocks">
    
<div class="donate-now-block"> 
<img src="/assets/images/donate1.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Community development</p>
<h3 class="sf-ui-display-24">
Education for Underprivileged Girls: Empower the Future</h3>    
<p class="sf-ui-display-18-06">
Millions of girls lack access to education. Sponsor a girl’s school fees and help her build a brig...</p>    
</div>
    
<div class="column gap-10 donate-width">
<div class="progress">
</div>    
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$0.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$2,500.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>   
</div>    
</div>    
    
<div class="donate-now-block">
<img src="/assets/images/donate2.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Prescription</p>
<h3 class="sf-ui-display-24">
Medical Help for Cancer Patients: Give the Gift of Life</h3>    
<p class="sf-ui-display-18-06">
Your donation can help cancer patients afford chemotherapy and essential treatments. Donate now and...</p>    
</div>
    
<div class="column gap-10 donate-width">
<div class="progress">
<div class="progress-blue">
</div></div>    
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$90.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$5000.00</span></p>      
</div>    
</div>   
</div>   
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>      
</div>     
</div>    
  
<div class="donate-now-block"> 
<img src="/assets/images/donate3.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Prescription</p>
<h3 class="sf-ui-display-24">
Hope for Orphaned Children: A Second Change at Life</h3>    
<p class="sf-ui-display-18-06">
Help orphaned children get access to education, food, and shelter. Donate today and change a life to...</p>    
</div>
     
<div class="column gap-10 donate-width">
<div class="progress">
<div class="progress-blue-v2">
</div></div>     
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$30.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$4,500.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>      
</div>    
</div>
    
    
     
</div>     
</div>
</section>    
    
    
<app-footer type="default"></app-footer>    
</div>