<div class="footer">

<div class="container">
    
<div class="footer-wrap">

<div class="footer-soc">

<p class="sf-ui-display-18-06">
© 2025 HelixVault. All rights reserved.</p>       
    
<div class="footer-media-links">
        
<a class="footer-media-link"><img src="/assets/images/icons/inst.svg"></a>    
    
<a class="footer-media-link"><img src="/assets/images/icons/fb.svg"></a>    
    
<a class="footer-media-link"><img src="/assets/images/icons/x.svg"></a>

     
<a class="footer-media-link"><img src="/assets/images//icons/in.svg"></a>    
    
</div>  
    
      
</div>   

</div>    
    
</div>


