<div class="footer" *ngIf="type === 'default'">

<div class="container">
    
<div class="footer-wrap">

<div class="footer-soc">
<div class="footer-logo">
<img src="/assets/images/icons/footer-logo.svg" class="footer-logo">    
</div> 
    
<div class="footer-media-links">
   
<a class="footer-media-link-yellow" href="https://www.instagram.com/wishes_official01/" target="_blank">
<img src="/assets/images/icons/inst1.svg"> 
</a>    
    
<a class="footer-media-link-yellow" href="https://www.facebook.com/wishesincofficial" target="_blank">
<img src="/assets/images/icons/fb1.svg"> 
</a>    
    
<a class="footer-media-link-yellow" href="https://x.com/Wishes0fficial" target="_blank">
<img src="/assets/images/icons/twit1.svg">
</a>

     
<a class="footer-media-link-yellow" href="https://www.linkedin.com/company/wishesinc/" target="_blank">
<img src="/assets/images/icons/in1.svg">
</a>    
    
</div>    
</div>   
    
    
<div class="footer-links-wrap footer-desktop-v2">
    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES SECTORS</p>  
<a class="footer-quick-link" routerLink="/retail">Retail & E-commerce</a> 
<a class="footer-quick-link" routerLink="/social-impact">
Non-profits & Social Impact</a>  
<a class="footer-quick-link" routerLink="/education">
Education & Student Services</a>   
<a class="footer-quick-link" routerLink="/hospitality">Hospitality & Travel</a> 
<a class="footer-quick-link" routerLink="/healthcare">Healthcare & Wellness</a> 
<a class="footer-quick-link" routerLink="/digital-media">Digital Media Vending</a>     
<a class="footer-quick-link" routerLink="/utilities">Utilities & Energy</a>     
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">CLUB 11:11</p>  
<a class="footer-quick-link" routerLink="/existing-retailers">Existing Retailers</a> 
<a class="footer-quick-link" routerLink="/retailer-signup">New Retailers</a>  
<a class="footer-quick-link" routerLink="/wishes-points">Wishes Points</a>   
<a class="footer-quick-link" routerLink="/ambassador-program">Ambassador Program</a> 
<a class="footer-quick-link" routerLink="/double">Double the Impact</a> 
<a class="footer-quick-link" routerLink="/bank-donation">Bank Donations</a>   
<a class="footer-quick-link" routerLink="/sponsor">Sponsor a Category</a>       
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">IMPACT</p>  
<a class="footer-quick-link" routerLink="/tracker">Live Impact Tracker</a> 
<a class="footer-quick-link" routerLink="/influencer">Influencers</a>  
<a class="footer-quick-link" routerLink="/philanthropists-program">
Donors / Philanthropists</a>   
<a class="footer-quick-link" routerLink="/team-giving">Giving Teams, Churches</a> 
<a class="footer-quick-link" routerLink="/complete-in-giving">Compete in Giving</a> 
<a class="footer-quick-link" routerLink="/online-Communities">
Online Communities</a>    
<a class="footer-quick-link" routerLink="/city-of-hope">City of Hope</a>     
</div>      
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">COMPLIANCE</p>  
<a class="footer-quick-link" routerLink="/trust">Built on Trust</a> 
<a class="footer-quick-link" routerLink="/governance">Governance</a>  
<!--<a class="footer-quick-link">Support</a>   -->
<a class="footer-quick-link" routerLink="/values">Wishes Values</a> 
<a class="footer-quick-link" routerLink="/guarantee">Wishes Guarantee</a> 
<a class="footer-quick-link" routerLink="/supply-chain">Supply Chain</a>    
<a class="footer-quick-link" routerLink="/admin-capabilities">Admin Capabilities</a>     
</div>   
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES COMPANIES</p>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.inc/">Wishes.Inc</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishes.gives/">Wishes.Gives</a>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.fund/">Wishes.Fund</a>   
<a class="footer-quick-link">Wishes.Shopping</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishespay.com/">WishesPay.com</a> 
<a class="footer-quick-link" target="_blank" href="https://wishes-inc.myshopify.com/">Wishes-inc.myshopify.com</a>    
<a class="footer-quick-link">Chasing Impact</a>     
</div>       

    
    
 
    
</div>    
    
    
    

<div class="footer-links-wrap footer-mobile-v2">
    
    
<div class="footer-mob-row">
    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES SECTORS</p>  
<a class="footer-quick-link" routerLink="/retail">Retail & E-commerce</a> 
<a class="footer-quick-link" routerLink="/social-impact">
Non-profits & Social Impact</a>  
<a class="footer-quick-link" routerLink="/education">
Education & Student Services</a>   
<a class="footer-quick-link" routerLink="/hospitality">Hospitality & Travel</a> 
<a class="footer-quick-link" routerLink="/healthcare">Healthcare & Wellness</a> 
<a class="footer-quick-link" routerLink="/digital-media">
Digital Media Vending</a>     
<a class="footer-quick-link" routerLink="/utilities">Utilities & Energy</a>     
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">CLUB 11:11</p>  
<a class="footer-quick-link" routerLink="/existing-retailers">Existing Retailers</a> 
<a class="footer-quick-link" routerLink="/retailer-signup">New Retailers</a>  
<a class="footer-quick-link" routerLink="/wishes-points">Wishes Points</a>   
<a class="footer-quick-link" routerLink="/ambassador-program">Ambassador Program</a> 
<a class="footer-quick-link" routerLink="/double">Double the Impact</a> 
<a class="footer-quick-link" routerLink="/bank-donation">Bank Donations</a>   
<a class="footer-quick-link" routerLink="/sponsor">Sponsor a Category</a>       
</div>  
    
</div>    
    
    
<div class="footer-mob-row">    
<div class="footer-quick-links">
<p class="footer-quick-title">IMPACT</p>  
<a class="footer-quick-link" routerLink="/tracker">Live Impact Tracker</a> 
<a class="footer-quick-link" routerLink="/influencer">Influencers</a>  
<a class="footer-quick-link" routerLink="/philanthropists-program">
Donors / Philanthropists</a>   
<a class="footer-quick-link" routerLink="/team-giving">Giving Teams, Churches</a> 
<a class="footer-quick-link" routerLink="/complete-in-giving">Compete in Giving</a> 
<a class="footer-quick-link" routerLink="/online-Communities">
Online Communities</a>    
<a class="footer-quick-link" routerLink="/city-of-hope">City of Hope</a>     
</div>      
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">COMPLIANCE</p>  
<a class="footer-quick-link" routerLink="/trust">Built on Trust</a> 
<a class="footer-quick-link" routerLink="/governance">Governance</a>  
<!--<a class="footer-quick-link">Support</a>   -->
<a class="footer-quick-link" routerLink="/values">Wishes Values</a> 
<a class="footer-quick-link" routerLink="/guarantee">Wishes Guarantee</a> 
<a class="footer-quick-link" routerLink="/supply-chain">Supply Chain</a>    
<a class="footer-quick-link" routerLink="/admin-capabilities">Admin Capabilities</a>     
</div>   
    
</div>    
    
    
<div class="footer-mob-row">    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES COMPANIES</p>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.inc/">Wishes.Inc</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishes.gives/">Wishes.Gives</a>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.fund/">Wishes.Fund</a>   
<a class="footer-quick-link">Wishes.Shopping</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishespay.com/">WishesPay.com</a> 
<a class="footer-quick-link" target="_blank" href="https://wishes-inc.myshopify.com/">Wishes-inc.myshopify.com</a>    
<a class="footer-quick-link">Chasing Impact</a>     
</div>       
</div>
    
    
 
    
</div>      
    

    
</div>
    
<p class="footer-bottom-text footer-desk-text">
The Wishes.inc Prepaid Mastercard card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Mastercard. Wishes.inc Customer Services: 1-888-8WISHES Copyright 2025. Wishes.inc. All rights reserved.</p>    
    
<p class="footer-bottom-text footer-mob-text">
The Wishes.inc Prepaid Mastercard card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Mastercard. Wishes.inc Customer Services: 1-888-8WISHES Copyright 2025. Wishes.inc. All rights reserved.</p>  
    
    
<div class="footer-last-links">
<a class="footer-last-link" routerLink="/wishes-privacy-policy">Privacy Policy</a>
<a class="footer-last-link" routerLink="/tos">Terms of Service</a>
<a class="footer-last-link" routerLink="/donor-terms">Donor Terms</a>
<a class="footer-last-link" routerLink="/card-holder-agreement">Card Holder Agreement</a>
<a class="footer-last-link" routerLink="/ambassador-agreement">Ambassador Agreement</a>
    
</div>    
    
</div>    
    
</div>





<div class="footer-pay" *ngIf="type === 'pay'">

<div class="container">
    
<div class="footer-wrap">

<div class="footer-soc">
<div class="footer-logo">
<img src="/assets/images/icons/yelfooter-logo1.svg" class="footer-logo">    
</div> 
    
<div class="footer-media-links">
   
<a class="footer-media-link-green" href="https://www.instagram.com/wishes_official01/" target="_blank">
<img src="/assets/images/icons/yellowinst.svg"> 
</a>    
    
<a class="footer-media-link-green" href="https://www.facebook.com/wishesincofficial" target="_blank">
<img src="/assets/images/icons/yellowfb.svg"> 
</a>    
    
<a class="footer-media-link-green" href="https://x.com/Wishes0fficial" target="_blank">
<img src="/assets/images/icons/yellowtwit.svg">
</a>

     
<a class="footer-media-link-green" href="https://www.linkedin.com/company/wishesinc/" target="_blank">
<img src="/assets/images/icons/yellowin1.svg">
</a>    
    
</div>    
</div>   
    
    
<div class="footer-links-wrap footer-desktop-v2">
    
<div class="footer-quick-links">
<p class="footer-quick-title-yellow">WISHES SECTORS</p>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/retail">Retail & E-commerce</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/social-impact">Non-profits & Social Impact</a>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/education">
Education & Student Services</a>   
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/hospitality">
Hospitality & Travel</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/healthcare">
Healthcare & Wellness</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/digital-media">
Digital Media Vending</a>     
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/utilities">
Utilities & Energy</a>     
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-yellow">CLUB 11:11</p>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/existing-retailers">Existing Retailers</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/retailer-signup">New Retailers</a>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/wishes-points">Wishes Points</a>   
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/ambassador-program">Ambassador Program</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/double">Double the Impact</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/bank-donation">Bank Donations</a>   
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/sponsor">Sponsor a Category</a>       
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-yellow">IMPACT</p>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/tracker">
Live Impact Tracker</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/influencer">Influencers</a>  
<a class="footer-quick-link-yellow" 
href="https://www.wishes.inc/philanthropists-program">Donors / Philanthropists</a>   
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/team-giving">
Giving Teams, Churches</a> 
<a class="footer-quick-link-yellow" 
href="https://www.wishes.inc/complete-in-giving">Compete in Giving</a> 
<a class="footer-quick-link-yellow" 
href="https://www.wishes.inc/online-Communities">
Online Communities</a>    
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/city-of-hope">
City of Hope</a>     
</div>      
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-yellow">COMPLIANCE</p>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/trust">Built on Trust</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/governance">Governance</a>  
<!--<a class="footer-quick-link-yellow">Support</a>  --> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/values">Wishes Values</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/guarantee">Wishes Guarantee</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/supply-chain">Supply Chain</a>    
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/admin-capabilities">Admin Capabilities</a>     
</div>   
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-yellow">WISHES COMPANIES</p>  
<a class="footer-quick-link-yellow" target="_blank" href="https://www.wishes.inc/">Wishes.Inc</a> 
<a class="footer-quick-link-yellow" target="_blank" href="https://www.wishes.gives/">Wishes.Gives</a>  
<a class="footer-quick-link-yellow" target="_blank" href="https://www.wishes.fund/">Wishes.Fund</a>   
<a class="footer-quick-link-yellow">Wishes.Shopping</a> 
<a class="footer-quick-link-yellow" target="_blank" href="https://www.wishespay.com/">WishesPay.com</a> 
<a class="footer-quick-link-yellow" 
target="_blank" href="https://wishes-inc.myshopify.com/">Wishes-inc.myshopify.com</a>    
<a class="footer-quick-link-yellow">Chasing Impact</a>     
</div>       

    
    
 
    
</div>    
    
    
    

<div class="footer-links-wrap footer-mobile-v2">
    
    
<div class="footer-mob-row">
    
<div class="footer-quick-links">
<p class="footer-quick-title-yellow">WISHES SECTORS</p>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/retail">Retail & E-commerce</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/social-impact">
Non-profits & Social Impact</a>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/education">
Education & Student Services</a>   
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/hospitality">
Hospitality & Travel</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/healthcare">
Healthcare & Wellness</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/digital-media">Digital Media Vending</a>     
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/utilities">Utilities & Energy</a>     
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-yellow">CLUB 11:11</p>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/existing-retailers">Existing Retailers</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/retailer-signup">New Retailers</a>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/wishes-points">Wishes Points</a>   
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/ambassador-program">Ambassador Program</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/double">Double the Impact</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/bank-donation">Bank Donations</a>   
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/sponsor">Sponsor a Category</a>       
</div>   
    
</div>    
    
    
<div class="footer-mob-row">    
<div class="footer-quick-links">
<p class="footer-quick-title-yellow">IMPACT</p>  
<a class="footer-quick-link-yellow" 
href="https://www.wishes.inc/tracker">
Live Impact Tracker</a> 
<a class="footer-quick-link-yellow" 
href="https://www.wishes.inc/influencer">Influencers</a>  
<a class="footer-quick-link-yellow" 
href="https://www.wishes.inc/philanthropists-program">Donors / Philanthropists</a>   
<a class="footer-quick-link-yellow" 
href="https://www.wishes.inc/team-giving">Giving Teams, Churches</a> 
<a class="footer-quick-link-yellow" 
href="https://www.wishes.inc/complete-in-giving">Compete in Giving</a> 
<a class="footer-quick-link-yellow" 
href="https://www.wishes.inc/online-Communities">Online Communities</a>    
<a class="footer-quick-link-yellow" 
href="https://www.wishes.inc/city-of-hope">City of Hope</a>     
</div>         
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-yellow">COMPLIANCE</p>  
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/trust">Built on Trust</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/governance">Governance</a>  
<!--<a class="footer-quick-link-yellow">Support</a>   -->
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/values">Wishes Values</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/guarantee">Wishes Guarantee</a> 
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/supply-chain">Supply Chain</a>    
<a class="footer-quick-link-yellow" href="https://www.wishes.inc/admin-capabilities">Admin Capabilities</a>     
</div>     
    
</div>    
    
    
<div class="footer-mob-row">    
<div class="footer-quick-links">
<p class="footer-quick-title-yellow">WISHES COMPANIES</p>  
<a class="footer-quick-link-yellow" target="_blank" href="https://www.wishes.inc/">Wishes.Inc</a> 
<a class="footer-quick-link-yellow" target="_blank" href="https://www.wishes.gives/">Wishes.Gives</a>  
<a class="footer-quick-link-yellow" target="_blank" href="https://www.wishes.fund/">Wishes.Fund</a>   
<a class="footer-quick-link-yellow">Wishes.Shopping</a> 
<a class="footer-quick-link-yellow" target="_blank" href="https://www.wishespay.com/">WishesPay.com</a> 
<a class="footer-quick-link-yellow" target="_blank" href="https://wishes-inc.myshopify.com/">Wishes-inc.myshopify.com</a>    
<a class="footer-quick-link-yellow">Chasing Impact</a>     
</div>     
</div>
    
    
 
    
</div>      
    

    
</div>
    
<p class="footer-bottom-text footer-desk-text">
The Wishes.inc Prepaid Mastercard card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Mastercard. Wishes.inc Customer Services: 1-888-8WISHES Copyright 2025. Wishes.inc. All rights reserved.</p>    
    
<p class="footer-bottom-text footer-mob-text">
The Wishes.inc Prepaid Mastercard card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Mastercard. Wishes.inc Customer Services: 1-888-8WISHES Copyright 2025. Wishes.inc. All rights reserved.</p>  
    
    
<div class="footer-last-links">
<a class="footer-last-link-yellow" href="https://www.wishes.inc/wishes-privacy-policy">Privacy Policy</a>
<a class="footer-last-link-yellow" href="https://www.wishes.inc/tos">Terms of Service</a>
<a class="footer-last-link-yellow" href="https://www.wishes.inc/donor-terms">Donor Terms</a>
<a class="footer-last-link-yellow" href="https://www.wishes.inc/card-holder-agreement">Card Holder Agreement</a>
<a class="footer-last-link" href="https://www.wishes.inc/ambassador-agreement">Ambassador Agreement</a>
    
</div>    
    
</div>    
    
</div>







<div class="footer-fund" *ngIf="type === 'fund'">

<div class="container">
    
<div class="footer-wrap">

<div class="footer-soc">
<div class="footer-logo">
<img src="/assets/images/icons/greenlogofooter.svg" class="footer-logo">    
</div> 
    
<div class="footer-media-links">
   
<a class="footer-media-link" href="https://www.instagram.com/wishes_official01/" target="_blank">
<img src="/assets/images/icons/greeninst.svg"> 
</a>    
    
<a class="footer-media-link" href="https://www.facebook.com/wishesincofficial" target="_blank">
<img src="/assets/images/icons/greenfb.svg"> 
</a>    
    
<a class="footer-media-link" href="https://x.com/Wishes0fficial" target="_blank">
<img src="/assets/images/icons/greeenx.svg">
</a>

     
<a class="footer-media-link" href="https://www.linkedin.com/company/wishesinc/" target="_blank">
<img src="/assets/images/icons/greeenin.svg">
</a>    
    
</div>    
</div>   
    
    
<div class="footer-links-wrap footer-desktop-v2">
    
<div class="footer-quick-links">
<p class="footer-quick-title-green">WISHES SECTORS</p>  
<a class="footer-quick-link-green" href="https://www.wishes.inc/retail"> Retail & E-commerce</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/social-impact">
Non-profits & Social Impact</a>  
<a class="footer-quick-link-green" href="https://www.wishes.inc/education">
Education & Student Services</a>   
<a class="footer-quick-link-green" href="https://www.wishes.inc/hospitality">
Hospitality & Travel</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/healthcare">Healthcare & Wellness</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/digital-media">
Digital Media Vending</a>     
<a class="footer-quick-link-green" href="https://www.wishes.inc/utilities">Utilities & Energy</a>     
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-green">CLUB 11:11</p>  
<a class="footer-quick-link-green" href="https://www.wishes.inc/existing-retailers">Existing Retailers</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/retailer-signup">New Retailers</a>  
<a class="footer-quick-link-green" href="https://www.wishes.inc/wishes-points">Wishes Points</a>   
<a class="footer-quick-link-green" href="https://www.wishes.inc/ambassador-program">Ambassador Program</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/double">Double the Impact</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/bank-donation">Bank Donations</a>   
<a class="footer-quick-link-green" href="https://www.wishes.inc/sponsor">Sponsor a Category</a>       
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-green">IMPACT</p>  
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/tracker">Live Impact Tracker</a> 
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/influencer" >Influencers</a>  
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/philanthropists-program">Donors / Philanthropists</a>   
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/team-giving">Giving Teams, Churches</a> 
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/complete-in-giving">Compete in Giving</a> 
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/online-Communities">Online Communities</a>    
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/city-of-hope">City of Hope</a>     
</div>      
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-green">COMPLIANCE</p>  
<a class="footer-quick-link-green" href="https://www.wishes.inc/trust">Built on Trust</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/governance">Governance</a>  
<!--<a class="footer-quick-link-green">Support</a> -->  
<a class="footer-quick-link-green" href="https://www.wishes.inc/values">Wishes Values</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/guarantee">Wishes Guarantee</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/supply-chain">Supply Chain</a>    
<a class="footer-quick-link-green" href="https://www.wishes.inc/admin-capabilities">Admin Capabilities</a>     
</div>   
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-green">WISHES COMPANIES</p>  
<a class="footer-quick-link-green" target="_blank" href="https://www.wishes.inc/">Wishes.Inc</a> 
<a class="footer-quick-link-green" target="_blank" href="https://www.wishes.gives/">Wishes.Gives</a>  
<a class="footer-quick-link-green" target="_blank" href="https://www.wishes.fund/">Wishes.Fund</a>   
<a class="footer-quick-link-green">Wishes.Shopping</a> 
<a class="footer-quick-link-green" target="_blank" href="https://www.wishespay.com/">WishesPay.com</a> 
<a class="footer-quick-link-green" target="_blank" href="https://wishes-inc.myshopify.com/">Wishes-inc.myshopify.com</a>    
<a class="footer-quick-link-green">Chasing Impact</a>     
</div>       

    
    
 
    
</div>    
    
    
    

<div class="footer-links-wrap footer-mobile-v2">
    
    
<div class="footer-mob-row">
    
<div class="footer-quick-links">
<p class="footer-quick-title-green">WISHES SECTORS</p>  
<a class="footer-quick-link-green" href="https://www.wishes.inc/retail">Retail & E-commerce</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/social-impact">
Non-profits & Social Impact</a>  
<a class="footer-quick-link-green" href="https://www.wishes.inc/education">
Education & Student Services</a>   
<a class="footer-quick-link-green" href="https://www.wishes.inc/hospitality">
Hospitality & Travel</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/healthcare">
Healthcare & Wellness</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/digital-media">
Digital Media Vending</a>     
<a class="footer-quick-link-green" href="https://www.wishes.inc/utilities">Utilities & Energy</a>     
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-green">CLUB 11:11</p>  
<a class="footer-quick-link-green" href="https://www.wishes.inc/existing-retailers">Existing Retailers</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/retailer-signup">New Retailers</a>  
<a class="footer-quick-link-green" href="https://www.wishes.inc/wishes-points">Wishes Points</a>   
<a class="footer-quick-link-green" href="https://www.wishes.inc/ambassador-program">Ambassador Program</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/double">Double the Impact</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/bank-donation">Bank Donations</a>   
<a class="footer-quick-link-green" href="https://www.wishes.inc/sponsor">Sponsor a Category</a>       
</div>   
    
</div>    
    
    
<div class="footer-mob-row">    
<div class="footer-quick-links">
<p class="footer-quick-title-green">IMPACT</p>  
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/tracker">Live Impact Tracker</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/influencer">Influencers</a>  
<a class="footer-quick-link-green"
href="https://www.wishes.inc/philanthropists-program">Donors / Philanthropists</a>   
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/team-giving">Giving Teams, Churches</a> 
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/complete-in-giving">Compete in Giving</a> 
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/online-Communities">Online Communities</a>    
<a class="footer-quick-link-green" 
href="https://www.wishes.inc/city-of-hope">City of Hope</a>     
</div>         
    
    
<div class="footer-quick-links">
<p class="footer-quick-title-green">COMPLIANCE</p>  
<a class="footer-quick-link-green" href="https://www.wishes.inc/trust">Built on Trust</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/governance">Governance</a>  
<!--<a class="footer-quick-link-green">Support</a> -->  
<a class="footer-quick-link-green" href="https://www.wishes.inc/values">Wishes Values</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/guarantee">Wishes Guarantee</a> 
<a class="footer-quick-link-green" href="https://www.wishes.inc/supply-chain">Supply Chain</a>    
<a class="footer-quick-link-green" href="https://www.wishes.inc/admin-capabilities">Admin Capabilities</a>     
</div>     
    
</div>    
    
    
<div class="footer-mob-row">    
<div class="footer-quick-links">
<p class="footer-quick-title-green">WISHES COMPANIES</p>  
<a class="footer-quick-link-green" target="_blank" href="https://www.wishes.inc/">Wishes.Inc</a> 
<a class="footer-quick-link-green" target="_blank" href="https://www.wishes.gives/">Wishes.Gives</a>  
<a class="footer-quick-link-green" target="_blank" href="https://www.wishes.fund/">Wishes.Fund</a>   
<a class="footer-quick-link-green">Wishes.Shopping</a> 
<a class="footer-quick-link-green" target="_blank" href="https://www.wishespay.com/">WishesPay.com</a> 
<a class="footer-quick-link-green" target="_blank" href="https://wishes-inc.myshopify.com/">Wishes-inc.myshopify.com</a>    
<a class="footer-quick-link-green">Chasing Impact</a>     
</div>     
</div>
    
    
 
    
</div>      
    

    
</div>
    
<p class="footer-bottom-text footer-desk-text">
The Wishes.inc Prepaid Mastercard card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Mastercard. Wishes.inc Customer Services: 1-888-8WISHES Copyright 2025. Wishes.inc. All rights reserved.</p>    
    
<p class="footer-bottom-text footer-mob-text">
The Wishes.inc Prepaid Mastercard card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Mastercard. Wishes.inc Customer Services: 1-888-8WISHES Copyright 2025. Wishes.inc. All rights reserved.</p>  
    
    
<div class="footer-last-links">
<a class="footer-last-link-green" href="https://www.wishes.inc/wishes-privacy-policy">Privacy Policy</a>
<a class="footer-last-link-green" href="https://www.wishes.inc/tos">Terms of Service</a>
<a class="footer-last-link-green" href="https://www.wishes.inc/donor-terms">Donor Terms</a>
<a class="footer-last-link-green" href="https://www.wishes.inc/card-holder-agreement">Card Holder Agreement</a>
<a class="footer-last-link" href="https://www.wishes.inc/ambassador-agreement">Ambassador Agreement</a>
    
</div>    
    
</div>    
    
</div>












<div class="footer-v2" *ngIf="type === 'default-v2'">

<div class="container">
    
<div class="footer-wrap">

<div class="footer-soc">
<div class="footer-logo">
<img src="/assets/images/icons/footer-logo.svg" class="footer-logo">    
</div> 
    
<div class="footer-media-links">
   
<a class="footer-media-link-yellow" href="https://www.instagram.com/wishes_official01/" target="_blank">
<img src="/assets/images/icons/inst1.svg"> 
</a>    
    
<a class="footer-media-link-yellow" href="https://www.facebook.com/wishesincofficial" target="_blank">
<img src="/assets/images/icons/fb1.svg"> 
</a>    
    
<a class="footer-media-link-yellow" href="https://x.com/Wishes0fficial" target="_blank">
<img src="/assets/images/icons/twit1.svg">
</a>

     
<a class="footer-media-link-yellow" href="https://www.linkedin.com/company/wishesinc/" target="_blank">
<img src="/assets/images/icons/in1.svg">
</a>    
    
</div>    
</div>   
    
    
<div class="footer-links-wrap footer-desktop-v2">
    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES SECTORS</p>  
<a class="footer-quick-link" routerLink="/retail">Retail & E-commerce</a> 
<a class="footer-quick-link" routerLink="/social-impact">
Non-profits & Social Impact</a>  
<a class="footer-quick-link" routerLink="/education">
Education & Student Services</a>   
<a class="footer-quick-link" routerLink="/hospitality">Hospitality & Travel</a> 
<a class="footer-quick-link" routerLink="/healthcare">Healthcare & Wellness</a> 
<a class="footer-quick-link" routerLink="/digital-media">Digital Media Vending</a>     
<a class="footer-quick-link" routerLink="/utilities">Utilities & Energy</a>     
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">CLUB 11:11</p>  
<a class="footer-quick-link" routerLink="/existing-retailers">Existing Retailers</a> 
<a class="footer-quick-link" routerLink="/retailer-signup">New Retailers</a>  
<a class="footer-quick-link" routerLink="/wishes-points">Wishes Points</a>   
<a class="footer-quick-link" routerLink="/ambassador-program">Ambassador Program</a> 
<a class="footer-quick-link" routerLink="/double">Double the Impact</a> 
<a class="footer-quick-link" routerLink="/bank-donation">Bank Donations</a>   
<a class="footer-quick-link" routerLink="/sponsor">Sponsor a Category</a>       
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">IMPACT</p>  
<a class="footer-quick-link" routerLink="/tracker">Live Impact Tracker</a> 
<a class="footer-quick-link" routerLink="/influencer">Influencers</a>  
<a class="footer-quick-link" routerLink="/philanthropists-program">
Donors / Philanthropists</a>   
<a class="footer-quick-link" routerLink="/team-giving">Giving Teams, Churches</a> 
<a class="footer-quick-link" routerLink="/complete-in-giving">Compete in Giving</a> 
<a class="footer-quick-link"routerLink="/online-Communities">Online Communities</a> 
<a class="footer-quick-link" routerLink="/city-of-hope">City of Hope</a>     
</div>      
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">COMPLIANCE</p>  
<a class="footer-quick-link" routerLink="/trust">Built on Trust</a> 
<a class="footer-quick-link" routerLink="/governance">Governance</a>  
<!--<a class="footer-quick-link">Support</a>-->   
<a class="footer-quick-link" routerLink="/values">Wishes Values</a> 
<a class="footer-quick-link" routerLink="/guarantee">Wishes Guarantee</a> 
<a class="footer-quick-link" routerLink="/supply-chain">Supply Chain</a>    
<a class="footer-quick-link" routerLink="/admin-capabilities">Admin Capabilities</a>     
</div>   
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES COMPANIES</p>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.inc/">Wishes.Inc</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishes.gives/">Wishes.Gives</a>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.fund/">Wishes.Fund</a>   
<a class="footer-quick-link">Wishes.Shopping</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishespay.com/">WishesPay.com</a> 
<a class="footer-quick-link" target="_blank" href="https://wishes-inc.myshopify.com/">Wishes-inc.myshopify.com</a>    
<a class="footer-quick-link">Chasing Impact</a>     
</div>       

    
    
 
    
</div>    
    
    
    

<div class="footer-links-wrap footer-mobile-v2">
    
    
<div class="footer-mob-row">
    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES SECTORS</p>  
<a class="footer-quick-link" routerLink="/retail">Retail & E-commerce</a> 
<a class="footer-quick-link" routerLink="/social-impact">
Non-profits & Social Impact</a>  
<a class="footer-quick-link" routerLink="/education">Education & Student Services</a>   
<a class="footer-quick-link" routerLink="/hospitality">Hospitality & Travel</a> 
<a class="footer-quick-link" routerLink="/healthcare">Healthcare & Wellness</a> 
<a class="footer-quick-link" routerLink="/digital-media">Digital Media Vending</a>     
<a class="footer-quick-link" routerLink="/utilities">Utilities & Energy</a>     
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">CLUB 11:11</p>  
<a class="footer-quick-link" routerLink="/existing-retailers">Existing Retailers</a> 
<a class="footer-quick-link" routerLink="/retailer-signup">New Retailers</a>  
<a class="footer-quick-link" routerLink="/wishes-points">Wishes Points</a>   
<a class="footer-quick-link" routerLink="/ambassador-program">Ambassador Program</a> 
<a class="footer-quick-link" routerLink="/double">Double the Impact</a> 
<a class="footer-quick-link" routerLink="/bank-donation">Bank Donations</a>   
<a class="footer-quick-link" routerLink="/sponsor">Sponsor a Category</a>       
</div>  
    
</div>    
    
    
<div class="footer-mob-row">    
<div class="footer-quick-links">
<p class="footer-quick-title">IMPACT</p>  
<a class="footer-quick-link" routerLink="/tracker">Live Impact Tracker</a> 
<a class="footer-quick-link" routerLink="/influencer">Influencers</a>  
<a class="footer-quick-link" routerLink="/philanthropists-program">
Donors / Philanthropists</a>   
<a class="footer-quick-link" routerLink="/team-giving">Giving Teams, Churches</a> 
<a class="footer-quick-link" routerLink="/complete-in-giving">Compete in Giving</a> 
<a class="footer-quick-link" routerLink="/online-Communities">Online Communities</a> 
<a class="footer-quick-link" routerLink="/city-of-hope">City of Hope</a>     
</div>      
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">COMPLIANCE</p>  
<a class="footer-quick-link" routerLink="/trust">Built on Trust</a> 
<a class="footer-quick-link" routerLink="/governance">Governance</a>  
<!--<a class="footer-quick-link">Support</a>  --> 
<a class="footer-quick-link" routerLink="/values">Wishes Values</a> 
<a class="footer-quick-link" routerLink="/guarantee">Wishes Guarantee</a> 
<a class="footer-quick-link" routerLink="/supply-chain">Supply Chain</a>    
<a class="footer-quick-link" routerLink="/admin-capabilities">Admin Capabilities</a>     
</div>   
    
</div>    
    
    
<div class="footer-mob-row">    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES COMPANIES</p>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.inc/">Wishes.Inc</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishes.gives/">Wishes.Gives</a>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.fund/">Wishes.Fund</a>   
<a class="footer-quick-link">Wishes.Shopping</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishespay.com/">WishesPay.com</a> 
<a class="footer-quick-link" target="_blank" href="https://wishes-inc.myshopify.com/">Wishes-inc.myshopify.com</a>    
<a class="footer-quick-link">Chasing Impact</a>     
</div>       
</div>
    
    
 
    
</div>      
    

    
</div>
    
<p class="footer-bottom-text footer-desk-text">
The Wishes.inc Prepaid Mastercard card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Mastercard. Wishes.inc Customer Services: 1-888-8WISHES Copyright 2025. Wishes.inc. All rights reserved.</p>    
    
<p class="footer-bottom-text footer-mob-text">
The Wishes.inc Prepaid Mastercard card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Mastercard. Wishes.inc Customer Services: 1-888-8WISHES Copyright 2025. Wishes.inc. All rights reserved.</p>  
    
    
<div class="footer-last-links">
<a class="footer-last-link" routerLink="/wishes-privacy-policy">Privacy Policy</a>
<a class="footer-last-link" routerLink="/terms-of-service">Terms of Service</a>
<a class="footer-last-link" routerLink="/donor-terms">Donor Terms</a>
<a class="footer-last-link" routerLink="/card-holder-agreement">Card Holder Agreement</a>
<a class="footer-last-link" routerLink="/ambassador-agreement">Ambassador Agreement</a>
    
</div>    
    
</div>    
    
</div>



















<div class="footer-v2" *ngIf="type === 'gives'">

<div class="container">
    
<div class="footer-wrap">

<div class="footer-soc">
<div class="footer-logo">
<img src="/assets/images/icons/footer-logo.svg" class="footer-logo">    
</div> 
    
<div class="footer-media-links">
   
<a class="footer-media-link-yellow" href="https://www.instagram.com/wishes_official01/" target="_blank">
<img src="/assets/images/icons/inst1.svg"> 
</a>    
    
<a class="footer-media-link-yellow" href="https://www.facebook.com/wishesincofficial" target="_blank">
<img src="/assets/images/icons/fb1.svg"> 
</a>    
    
<a class="footer-media-link-yellow" href="https://x.com/Wishes0fficial" target="_blank">
<img src="/assets/images/icons/twit1.svg">
</a>

     
<a class="footer-media-link-yellow" href="https://www.linkedin.com/company/wishesinc/" target="_blank">
<img src="/assets/images/icons/in1.svg">
</a>    
    
</div>    
</div>   
    
    
<div class="footer-links-wrap footer-desktop-v2">
    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES SECTORS</p>  
<a class="footer-quick-link" href="https://www.wishes.inc/retail">Retail & E-commerce</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/social-impact">
Non-profits & Social Impact</a>  
<a class="footer-quick-link" href="https://www.wishes.inc/education">
Education & Student Services</a>   
<a class="footer-quick-link" href="https://www.wishes.inc/hospitality">Hospitality & Travel</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/healthcare">Healthcare & Wellness</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/digital-media">Digital Media Vending</a>     
<a class="footer-quick-link" href="https://www.wishes.inc/utilities">Utilities & Energy</a>     
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">CLUB 11:11</p>  
<a class="footer-quick-link" href="https://www.wishes.inc/existing-retailers">Existing Retailers</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/retailer-signup">New Retailers</a>  
<a class="footer-quick-link" href="https://www.wishes.inc/wishes-points">Wishes Points</a>   
<a class="footer-quick-link" href="https://www.wishes.inc/ambassador-program">Ambassador Program</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/double">Double the Impact</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/bank-donation">Bank Donations</a>   
<a class="footer-quick-link" href="https://www.wishes.inc/sponsor">Sponsor a Category</a>       
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">IMPACT</p>  
<a class="footer-quick-link" 
href="https://www.wishes.inc/tracker">Live Impact Tracker</a> 
<a class="footer-quick-link" 
href="https://www.wishes.inc/influencer" >Influencers</a>  
<a class="footer-quick-link" 
href="https://www.wishes.inc/philanthropists-program">Donors / Philanthropists</a>   
<a class="footer-quick-link" 
href="https://www.wishes.inc/team-giving">Giving Teams, Churches</a> 
<a class="footer-quick-link" 
href="https://www.wishes.inc/complete-in-giving">Compete in Giving</a> 
<a class="footer-quick-link" 
href="https://www.wishes.inc/online-Communities">Online Communities</a>    
<a class="footer-quick-link" 
href="https://www.wishes.inc/city-of-hope">City of Hope</a>     
</div>      
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">COMPLIANCE</p>  
<a class="footer-quick-link" href="https://www.wishes.inc/trust">Built on Trust</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/governance">Governance</a>  
<!--<a class="footer-quick-link">Support</a>-->   
<a class="footer-quick-link" href="https://www.wishes.inc/values">Wishes Values</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/guarantee">Wishes Guarantee</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/supply-chain">Supply Chain</a>    
<a class="footer-quick-link" href="https://www.wishes.inc/admin-capabilities">Admin Capabilities</a>     
</div>   
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES COMPANIES</p>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.inc/">Wishes.Inc</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishes.gives/">Wishes.Gives</a>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.fund/">Wishes.Fund</a>   
<a class="footer-quick-link">Wishes.Shopping</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishespay.com/">WishesPay.com</a> 
<a class="footer-quick-link" target="_blank" href="https://wishes-inc.myshopify.com/">Wishes-inc.myshopify.com</a>    
<a class="footer-quick-link">Chasing Impact</a>     
</div>       

    
    
 
    
</div>    
    
    
    

<div class="footer-links-wrap footer-mobile-v2">
    
    
<div class="footer-mob-row">
    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES SECTORS</p>  
<a class="footer-quick-link" href="https://www.wishes.inc/retail">Retail & E-commerce</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/social-impact">
Non-profits & Social Impact</a>  
<a class="footer-quick-link" href="https://www.wishes.inc/education">Education & Student Services</a>   
<a class="footer-quick-link" href="https://www.wishes.inc/hospitality">Hospitality & Travel</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/healthcare">Healthcare & Wellness</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/digital-media">Digital Media Vending</a>     
<a class="footer-quick-link" href="https://www.wishes.inc/utilities">Utilities & Energy</a>     
</div>  
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">CLUB 11:11</p>  
<a class="footer-quick-link" href="https://www.wishes.inc/existing-retailers">Existing Retailers</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/retailer-signup">New Retailers</a>  
<a class="footer-quick-link" href="https://www.wishes.inc/wishes-points">Wishes Points</a>   
<a class="footer-quick-link" href="https://www.wishes.inc/ambassador-program">Ambassador Program</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/double">Double the Impact</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/bank-donation">Bank Donations</a>   
<a class="footer-quick-link" href="https://www.wishes.inc/sponsor">Sponsor a Category</a>       
</div>  
    
</div>    
    
    
<div class="footer-mob-row">    
<div class="footer-quick-links">
<p class="footer-quick-title">IMPACT</p>  
<a class="footer-quick-link" 
href="https://www.wishes.inc/tracker">Live Impact Tracker</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/influencer">Influencers</a>  
<a class="footer-quick-link" 
href="https://www.wishes.inc/philanthropists-program">Donors / Philanthropists</a>   
<a class="footer-quick-link" 
href="https://www.wishes.inc/team-giving">Giving Teams, Churches</a> 
<a class="footer-quick-link" 
href="https://www.wishes.inc/complete-in-giving">Compete in Giving</a> 
<a class="footer-quick-link" 
href="https://www.wishes.inc/online-Communities">Online Communities</a>    
<a class="footer-quick-link" 
href="https://www.wishes.inc/city-of-hope">City of Hope</a>     
</div>      
    
    
<div class="footer-quick-links">
<p class="footer-quick-title">COMPLIANCE</p>  
<a class="footer-quick-link" href="https://www.wishes.inc/trust">Built on Trust</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/governance">Governance</a>  
<!--<a class="footer-quick-link">Support</a>  --> 
<a class="footer-quick-link" href="https://www.wishes.inc/values">Wishes Values</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/guarantee">Wishes Guarantee</a> 
<a class="footer-quick-link" href="https://www.wishes.inc/supply-chain">Supply Chain</a>    
<a class="footer-quick-link" href="https://www.wishes.inc/admin-capabilities">Admin Capabilities</a>     
</div>   
    
</div>    
    
    
<div class="footer-mob-row">    
<div class="footer-quick-links">
<p class="footer-quick-title">WISHES COMPANIES</p>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.inc/">Wishes.Inc</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishes.gives/">Wishes.Gives</a>  
<a class="footer-quick-link" target="_blank" href="https://www.wishes.fund/">Wishes.Fund</a>   
<a class="footer-quick-link">Wishes.Shopping</a> 
<a class="footer-quick-link" target="_blank" href="https://www.wishespay.com/">WishesPay.com</a> 
<a class="footer-quick-link" target="_blank" href="https://wishes-inc.myshopify.com/">Wishes-inc.myshopify.com</a>    
<a class="footer-quick-link">Chasing Impact</a>     
</div>       
</div>
    
    
 
    
</div>      
    

    
</div>
    
<p class="footer-bottom-text footer-desk-text">
The Wishes.inc Prepaid Mastercard card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Mastercard. Wishes.inc Customer Services: 1-888-8WISHES Copyright 2025. Wishes.inc. All rights reserved.</p>    
    
<p class="footer-bottom-text footer-mob-text">
The Wishes.inc Prepaid Mastercard card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Mastercard. Wishes.inc Customer Services: 1-888-8WISHES Copyright 2025. Wishes.inc. All rights reserved.</p>  
    
    
<div class="footer-last-links">
<a class="footer-last-link" href="https://www.wishes.inc/wishes-privacy-policy">Privacy Policy</a>
<a class="footer-last-link" href="https://www.wishes.inc/terms-of-service">Terms of Service</a>
<a class="footer-last-link" href="https://www.wishes.inc/donor-terms">Donor Terms</a>
<a class="footer-last-link" href="https://www.wishes.inc/card-holder-agreement">Card Holder Agreement</a>
<a class="footer-last-link" href="https://www.wishes.inc/ambassador-agreement">Ambassador Agreement</a>
    
</div>    
    
</div>    
    
</div>