<div class="wrapper">
    
<section class="product-header">
<div class="container">
<div class="product-wrap">
<div class="column">
<p class="sf-pro-text-18-pink">HelixVault</p>    
<div class="column gap-10">
<h3 class="sf-pro-display-48-white width-525">
Empower Wealth. Embrace Tomorrow.</h3> 
</div>  
    
<div class="btns-header">
<a class="product-btn">Get HelixVault</a>    
<button class="product-btn-v2" (click)="scrollToSection()">
Explore Our Features</button>     
</div>      
</div>
</div>   
</div>    
</section>  
    
    
    
    
    
<section class="about-product" id="about-product">
<div class="container">
<div class="about-product-wrap">
<div class="left-side-about-product">
<img src="/assets/images/graffic.png" class="about-product-mob">    
</div>
    
<div class="right-side-about-product">
<div class="column width-535">

<div class="column gap-10">
<h3 class="sf-pro-display-48">Introducing HelixVault: The Future of Crypto</h3>   
<p class="sf-ui-display-18-06">
HelixVault is the next-generation crypto wallet built to unlock the true potential of digital assets. Experience effortless control, seamless growth, and future-ready innovation all in one place. With HelixVault, your wealth is free to move, evolve, and thrive without limits. Welcome to the future of crypto empowerment.  
</p>    
</div>    
</div> 
    
<div class="about-product-blocks">    
    
<div class="about-product-block">
<p class="sf-ui-display-48-blue">1</p>
<div class="column gap-8">
<h3 class="sf-ui-display-20-blue">Effortless Control</h3>  
</div>    
</div>  
    
<div class="about-product-block">
<p class="sf-ui-display-48-blue">2</p>
<div class="column gap-8">
<h3 class="sf-ui-display-20-blue">
Seamless Growth</h3>
</div>    
</div>   
    
<div class="about-product-block">
<p class="sf-ui-display-48-blue">3</p> 
<div class="column gap-8">
<h3 class="sf-ui-display-20-blue">
Future-Ready Innovation</h3>

</div>    
</div>  
    
</div> 
</div>    
</div>    
</div>        
</section> 
        
    
    
<section class="product-benefits">
<div class="container">
    
<div class="product-benefits-wrap">  
<div class="column">
<p class="sf-pro-text-18">OUR BENEFITS</p>
<div class="column gap-10">
<h3 class="sf-pro-display-48">Experience Next-Level Crypto Freedom</h3>
<p class="sf-ui-display-18-06 width-740">
Manage, grow, and protect your digital wealth with confidence. HelixVault brings together security, simplicity, and innovation so you can focus on what matters most — your future.</p>    
</div>    
</div>  
    
<div class="product-benefits-blocks">
    
<div class="product-benefits-block">
<img src="/assets/images/icons/security.svg" class="product-benefits-img">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Trusted Security</h3>
<p class="sf-ui-display-18-06">
Military-grade protection keeps your assets safe around the clock.</p>    
</div>    
    
<div class="product-benefits-block">
<img src="/assets/images/icons/management.svg" class="product-benefits-img">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Effortless Management</h3>
<p class="sf-ui-display-18-06">
Intuitive tools to monitor, transfer, and expand your crypto portfolio with zero friction.</p>    
</div>   
    
<div class="product-benefits-block">
<img src="/assets/images/icons/control.svg" class="product-benefits-img">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Seamless Control</h3>
<p class="sf-ui-display-18-06">
Smart features to easily track, grow, and move your assets with total confidence.</p>    
</div>   
    
<div class="product-benefits-block">
<img src="/assets/images/icons/innovation.svg" class="product-benefits-img">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Future-Proof Innovation</h3>
<p class="sf-ui-display-18-06">
HelixVault evolves with tomorrow’s blockchain, keeping you ahead.</p>    
</div>       
    
</div>    
</div>    
</div>    
</section>    
    
    
    
    
    
    
   
<section class="slider product-padding-container">
<div class="container">
    
<div class="column mob-slider">      
<div class="column gap-10">    
<h3 class="sf-pro-display-48 width-740">
Trusted by the Community</h3> 
<p class="sf-ui-display-18-06 width-740">
Thousands trust HelixVault to manage, grow, and protect their crypto.</p>
</div>    
</div>      
   

<div class="slide-pos mob-slider">  
    
<div class="slide-bnts">
<button class="slider-btn left" (click)="prevSlide()">
<img src="/assets/images/icons/left-slide.svg"></button>
<button class="slider-btn right" (click)="nextSlide()">
<img src="/assets/images/icons/right-slide.svg"></button>
</div>       
    
<div class="slider-window">
     
    
<div class="slider-track" #sliderTrack>
        

<div class="review-block">
<img src="/assets/images/icons/review1.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">David Sato</h3> 
<p class="sf-ui-display-18-06">
HelixVault finally gives me peace of mind. I feel completely safe moving large amounts of crypto, which was a huge worry before. Totally worth it.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class="">    
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
</div>    
    
</div>
    
    
<div class="review-block">
<img src="/assets/images/icons/review2.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">James Miller</h3> 
<p class="sf-ui-display-18-06">
Solid product with fast transactions and clear reporting. A few bugs here and there, but support was responsive. Overall, a good experience.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/whitestar11.svg" class="">      
</div>    
    
</div>
    
    
<div class="review-block">
<img src="/assets/images/icons/review3.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">Kiara Williams</h3> 
<p class="sf-ui-display-18-06">
Love the clean look and easy features. I use it every day to track my tokens, and it’s never let me down. Highly recommend.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
</div>    
    
</div>
    
    
<div class="review-block">
<img src="/assets/images/icons/review4.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">Brianna Harris</h3> 
<p class="sf-ui-display-18-06">
Decent option if you’re just starting out. It’s easy to use, but lacks deeper tools for advanced users. Hoping for updates soon.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/whitestar11.svg" class="">  
<img src="/assets/images/icons/whitestar11.svg" class="">      
</div>    
    
</div>    

  
    
    
<div class="review-block">
<img src="/assets/images/icons/review1.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">David Sato</h3> 
<p class="sf-ui-display-18-06">
HelixVault finally gives me peace of mind. I feel completely safe moving large amounts of crypto, which was a huge worry before. Totally worth it.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
</div>    
    
</div>
    
    
<div class="review-block">
<img src="/assets/images/icons/review2.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">James Miller</h3> 
<p class="sf-ui-display-18-06">
Solid product with fast transactions and clear reporting. A few bugs here and there, but support was responsive. Overall, a good experience.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/whitestar11.svg" class="">      
</div>    
    
</div>
    
    
<div class="review-block">
<img src="/assets/images/icons/review3.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">Kiara Williams</h3> 
<p class="sf-ui-display-18-06">
Love the clean look and easy features. I use it every day to track my tokens, and it’s never let me down. Highly recommend.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
    
</div>    
    
</div>
    
    
<div class="review-block">
<img src="/assets/images/icons/review4.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">Brianna Harris</h3> 
<p class="sf-ui-display-18-06">
Decent option if you’re just starting out. It’s easy to use, but lacks deeper tools for advanced users. Hoping for updates soon.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/whitestar11.svg" class="">  
<img src="/assets/images/icons/whitestar11.svg" class="">      
</div>    
    
</div>      
    

</div> 
</div> 
</div>    
</div>    
</section>    
    
    

    
    
    
<section class="mob-scroll">
<div class="container">  
    
<div class="column"> 
<div class="column gap-10">    
<h3 class="sf-pro-display-48 width-740">
Transparent Funding</h3> 
<p class="sf-ui-display-18-06 width-740">
No more black boxes. Every dollar is tagged, tracked, and reported.</p>
</div>   
</div>      
    
</div>
    
<div class="review-slider-wrapper">


<div class="review-block">
<img src="/assets/images/icons/review1.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">David Sato</h3> 
<p class="sf-ui-display-18-06">
HelixVault finally gives me peace of mind. I feel completely safe moving large amounts of crypto, which was a huge worry before. Totally worth it.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class="">    
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
</div>    
    
</div>
    
    
<div class="review-block">
<img src="/assets/images/icons/review2.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">James Miller</h3> 
<p class="sf-ui-display-18-06">
Solid product with fast transactions and clear reporting. A few bugs here and there, but support was responsive. Overall, a good experience.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/whitestar11.svg" class="">      
</div>    
    
</div>
    
    
<div class="review-block">
<img src="/assets/images/icons/review3.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">Kiara Williams</h3> 
<p class="sf-ui-display-18-06">
Love the clean look and easy features. I use it every day to track my tokens, and it’s never let me down. Highly recommend.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
</div>    
    
</div>
    
    
<div class="review-block">
<img src="/assets/images/icons/review4.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24">Brianna Harris</h3> 
<p class="sf-ui-display-18-06">
Decent option if you’re just starting out. It’s easy to use, but lacks deeper tools for advanced users. Hoping for updates soon.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/pinkstar.svg" class=""> 
<img src="/assets/images/icons/whitestar11.svg" class="">  
<img src="/assets/images/icons/whitestar11.svg" class="">      
</div>    
    
</div>    
     
</div>     
</section>        
            
 
  
<section class="newsletter">
  <div class="container">
    <div class="newsletter-wrap">
      <div class="column gap-10 width-740">
        <h3 class="sf-pro-display-48">Stay Ahead of the Crypto Curve</h3>
        <p class="sf-ui-display-18-06">
          Subscribe to get exclusive updates, market insights, and HelixVault news straight to your inbox.
        </p>
      </div>

      <div class="newsletter-email-input" *ngIf="!subscribed">
        <input
          type="email"
          [(ngModel)]="email"
          [ngClass]="{ 'invalid': invalidEmail }"
          class="email-input"
          placeholder="Your email"
        />
        <button class="newsletter-submit-button" (click)="subscribe()">Subscribe Now</button>
      </div>

      <div class="sf-ui-display-32-700-blue" *ngIf="subscribed">
        Successfully subscribed! Welcome to the community.
      </div>
    </div>
  </div>
</section>
      
    
    
<app-footer></app-footer>     
</div>