<div class="wrapper">
<app-navigation-menu type="main"></app-navigation-menu>
    
<section class="home-header">
<div class="container">
<div class="home-wrap">
<div class="column home-z-index">
<p class="sf-pro-text-18-pink">Wishes.inc</p>    
<div class="column gap-10">
<h3 class="sf-pro-display-48-white width-560">
Empower Your Cause.
Turn Wishes into Impact.</h3>
<p class="sf-ui-display-18-400-white">
The crowdfunding platform designed for non-profits.</p>    
</div> 

<a class="home-button" href="https://app.wishes.inc/auth/fundraiser/role/wisher/categories" target="_blank">
Start Your Free Campaign
</a>    
</div>   
    
<!--  
<div class="home-imgs">
<img src="/assets/images/home1.png" class="home-img-v2">    
</div>   -->
    
</div>      
</div>    
</section>    
    
    
    
<section class="benefits">
<div class="container">
    
<div class="benefit-wrap">  
<div class="column">
<p class="sf-pro-text-18">OUR BENEFITS</p>
<div class="column gap-10">
<h3 class="sf-pro-display-48">Easy Setup & Management</h3>
<p class="sf-ui-display-18-06 width-740">
Launch your campaign in minutes and manage it with ease. Wishes.Inc helps raise more for project than traditional fundraising methods.</p>    
</div>    
</div>  
    
<div class="benefit-blocks">
    
<div class="benefit-block">
<img src="/assets/images/icons/ben1.svg" class="virtual-img-252">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Reach a Wider Audience</h3>
<p class="sf-ui-display-18-06">
A significant number of individuals lack trust in nonprofits.</p>    
</div>    
    
<div class="benefit-block">
<img src="/assets/images/icons/ben2.svg" class="virtual-img-252">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Targeted Donations</h3>
<p class="sf-ui-display-18-06">Many donors express a desire to give more.</p>    
</div>   
    
<div class="benefit-block">
<img src="/assets/images/icons/ben3.svg" class="virtual-img-252">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Flexible Funding</h3>
<p class="sf-ui-display-18-06">
Donors would contribute more if they had clarity on the impact of their donations.</p>    
</div>   
    
<div class="benefit-block">
<img src="/assets/images/icons/ben4.svg" class="virtual-img-252">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Built-in Community</h3>
<p class="sf-ui-display-18-06">
Donors seek transparency on how their funds are spent.</p>    
</div>       
    
</div>    
</div>    
</div>    
</section>    
    
    
<section class="campaign">
    
<div class="phone-scroll-wrapper-v3">
  <div class="phone-block">
    <img src="/assets/images/campaign1.png" alt="Phone 1" />
  </div>
  <div class="phone-block-v2">
    <img src="/assets/images/campaign2.png" alt="Phone 2" />
  </div>
</div>    
    
<div class="container">
<div class="campaign-wrap">
    
<div class="left-campaign mob-contents-v2">
<img src="/assets/images/campaign1.png">
<img src="/assets/images/campaign2.png">    
</div>

<div class="right-campaign">
<div class="campaign-block">
<p class="sf-ui-display-48-blue">1</p>
<div class="column gap-8">
<h3 class="sf-ui-display-20-blue">Create your campaign</h3>
<p class="sf-ui-display-18-06">Tell your story, set your goals, and choose your rewards.</p>    
</div>    
</div>  
    
<div class="campaign-block">
<p class="sf-ui-display-48-blue">2</p>
<div class="column gap-8">
<h3 class="sf-ui-display-20-blue">Share your campaign</h3>
<p class="sf-ui-display-18-06">Spread the word through social media, email, and your website.</p>    
</div>    
</div>   
    
<div class="campaign-block">
<p class="sf-ui-display-48-blue">3</p> 
<div class="column gap-8">
<h3 class="sf-ui-display-20-blue">Receive donations</h3>
<p class="sf-ui-display-18-06">Watch as your community rallies behind your cause.</p>    
</div>    
</div>   
    
<button class="campaign-btn">Learn more about creating your campaign</button>    
</div>    
</div>    
</div>    
</section>
    
    
    
<section class="slider wishes-padding-container">
<div class="container">
    
<div class="column mob-slider">
<p class="sf-pro-text-18">EVERY DONATION TRACKED, EVERY IMPACT VISIBLE</p>
<h3 class="sf-pro-display-48">Support with Confidence<br>Give with Clarity</h3>
</div>      
    
<div class="map-position mob-slider">
<img src="/assets/images/map.png">    
</div>    

<div class="slide-pos mob-slider">  
    
<div class="slide-bnts">
<button class="slider-btn left" (click)="prevSlide()">
<img src="/assets/images/icons/left-slide.svg"></button>
<button class="slider-btn right" (click)="nextSlide()">
<img src="/assets/images/icons/right-slide.svg"></button>
</div>       
    
<div class="slider-window">
     
    
<div class="slider-track" #sliderTrack>
        
    
<div class="donate-now-block"> 
<img src="/assets/images/donate1.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Community development</p>
<h3 class="sf-ui-display-22-700">
Education for Underprivileged Girls: Empower the Future</h3>    
<p class="sf-ui-display-18-06">
Millions of girls lack access to education. Sponsor a girl’s school fees and help her build a brig...</p>    
</div>
    
<div class="column gap-10 donate-width">
<div class="progress">
</div>    
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$0.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$2,500.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>   
</div>    
</div>    
    
<div class="donate-now-block">
<img src="/assets/images/donate2.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Prescription</p>
<h3 class="sf-ui-display-22-700">
Medical Help for Cancer Patients: Give the Gift of Life</h3>    
<p class="sf-ui-display-18-06">
Your donation can help cancer patients afford chemotherapy and essential treatments. Donate now and...</p>    
</div>
    
<div class="column gap-10 donate-width">
<div class="progress">
<div class="progress-blue">
</div></div>    
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$90.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$5000.00</span></p>      
</div>    
</div>   
</div>   
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>   
</div>     
</div>    
  
<div class="donate-now-block"> 
<img src="/assets/images/donate3.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Prescription</p>
<h3 class="sf-ui-display-22-700">
Hope for Orphaned Children: A Second Change at Life</h3>    
<p class="sf-ui-display-18-06">
Help orphaned children get access to education, food, and shelter. Donate today and change a life to...</p>    
</div>
     
<div class="column gap-10 donate-width">
<div class="progress">
<div class="progress-blue-v2">
</div></div>     
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$30.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$4,500.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>       
</div>    
</div>    
    
    
<div class="donate-now-block"> 
<img src="/assets/images/donate4.webp" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Pure Water</p>
<h3 class="sf-ui-display-22-700">
Clean Water, Bright Future: Help Bring Safe Water to Every Child</h3>    
<p class="sf-ui-display-18-06">
Your donation helps provide safe, clean drinking water to children in need. Support our mission to b...</p>    
</div>
     
<div class="column gap-10 donate-width">
<div class="progress">
</div>     
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$0.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$15,000.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>      
</div>    
</div>  
    
    
<div class="donate-now-block"> 
<img src="/assets/images/donate5.webp" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Medical Care</p>
<h3 class="sf-ui-display-22-700">
Support Elderly Individuals in Need</h3>    
<p class="sf-ui-display-18-06">
Support vulnerable elderly individuals facing hardship. Your donation can provide essential care, co...</p>    
</div>
     
<div class="column gap-10 donate-width">
<div class="progress">
</div>     
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$0.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$10,000.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>       
</div>    
</div>  
    
<div class="donate-now-block"> 
<img src="/assets/images/donate.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Pure Water</p>
<h3 class="sf-ui-display-22-700">
Safe Drinking Water for Villages: End Water Crisis</h3>    
<p class="sf-ui-display-18-06">
Many rural areas lack safe drinking water. Your donation can build wells and purify water for thousa...</p>    
</div>
     
<div class="column gap-10 donate-width">
<div class="progress">
</div>     
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$0.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$5,000.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>       
</div>    
</div> 
    
</div> 

</div>  
    
</div>    
    

</div>    
</section>    
    
    

    
    
    
<section class="mob-scroll">
<div class="container">  
    
<div class="column">
<p class="sf-pro-text-18">EVERY DONATION TRACKED, EVERY IMPACT VISIBLE</p>
<h3 class="sf-pro-display-48">Support with Confidence<br>Give with Clarity</h3>
</div>      
    
</div>
    
<div class="donate-slider-wrapper">
        
    
<div class="donate-now-block"> 
<img src="/assets/images/donate1.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Community development</p>
<h3 class="sf-ui-display-22-700">
Education for Underprivileged Girls: Empower the Future</h3>    
<p class="sf-ui-display-18-06">
Millions of girls lack access to education. Sponsor a girl’s school fees and help her build a brig...</p>    
</div>
    
<div class="column gap-10 donate-width">
<div class="progress">
</div>    
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$0.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$2,500.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>  
</div>    
</div>    
    
<div class="donate-now-block">
<img src="/assets/images/donate2.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Prescription</p>
<h3 class="sf-ui-display-22-700">
Medical Help for Cancer Patients: Give the Gift of Life</h3>    
<p class="sf-ui-display-18-06">
Your donation can help cancer patients afford chemotherapy and essential treatments. Donate now and...</p>    
</div>
    
<div class="column gap-10 donate-width">
<div class="progress">
<div class="progress-blue">
</div></div>    
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$90.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$5000.00</span></p>      
</div>    
</div>   
</div>   
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>       
</div>     
</div>    
  
<div class="donate-now-block"> 
<img src="/assets/images/donate3.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Prescription</p>
<h3 class="sf-ui-display-22-700">
Hope for Orphaned Children: A Second Change at Life</h3>    
<p class="sf-ui-display-18-06">
Help orphaned children get access to education, food, and shelter. Donate today and change a life to...</p>    
</div>
     
<div class="column gap-10 donate-width">
<div class="progress">
<div class="progress-blue-v2">
</div></div>     
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$30.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$4,500.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>       
</div>    
</div>    
    
    
<div class="donate-now-block"> 
<img src="/assets/images/donate4.webp" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Pure Water</p>
<h3 class="sf-ui-display-22-700">
Clean Water, Bright Future: Help Bring Safe Water to Every Child</h3>    
<p class="sf-ui-display-18-06">
Your donation helps provide safe, clean drinking water to children in need. Support our mission to b...</p>    
</div>
     
<div class="column gap-10 donate-width">
<div class="progress">
</div>     
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$0.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$15,000.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>      
</div>    
</div>  
    
    
<div class="donate-now-block"> 
<img src="/assets/images/donate5.webp" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Medical Care</p>
<h3 class="sf-ui-display-22-700">
Support Elderly Individuals in Need</h3>    
<p class="sf-ui-display-18-06">
Support vulnerable elderly individuals facing hardship. Your donation can provide essential care, co...</p>    
</div>
     
<div class="column gap-10 donate-width">
<div class="progress">
</div>     
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$0.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$10,000.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>       
</div>    
</div>  
    
<div class="donate-now-block"> 
<img src="/assets/images/donate.png" class="donate-now-img">
    
<div class="donate-now-info">
<div class="column gap-5">
<p class="sf-pro-text-18">Pure Water</p>
<h3 class="sf-ui-display-22-700">
Safe Drinking Water for Villages: End Water Crisis</h3>    
<p class="sf-ui-display-18-06">
Many rural areas lack safe drinking water. Your donation can build wells and purify water for thousa...</p>    
</div>
     
<div class="column gap-10 donate-width">
<div class="progress">
</div>     
<div class="progress-info">
<div class="left-progress">  
<p class="sf-pro-text-14-grey">
Raised <span class="sf-pro-text-14-blue-700">$0.00</span></p>  
</div>   
<div class="right-progress">
<p class="sf-pro-text-14-grey">
Goal <span class="sf-pro-text-14-blue-700">$5,000.00</span></p>      
</div>    
</div>    
</div>  
<a class="donate-now-btn" href="https://app.wishes.inc/public/stories" target="_blank">Donate now</a>       
</div>    
</div> 
    
</div>     
</section>    
    
    
<section class="tax">
<div class="container">
<div class="tax-wrap">
<div class="tax-blocks">
    
<div class="tax-block">
<img src="/assets/images/icons/tax1.svg" class="virtual-img-252">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Full Accountability</h3>
<p class="sf-ui-display-18-06">
Donations can only be spent in the specific categories the charity or causes has requested funds for.</p>    
</div>    
    
<div class="tax-block">
<img src="/assets/images/icons/tax2.svg" class="virtual-img-252">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Complete Transparency</h3>
<p class="sf-ui-display-18-06">
Donors can see where and how the donations are spent.</p>    
</div>   
    
<div class="tax-block">
<img src="/assets/images/icons/tax3.svg" class="virtual-img-252">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Tax Deductibility</h3>
<p class="sf-ui-display-18-06">
Wishes.inc acknowledges charitable tax deductions for any donation made for social impact.</p>    
</div>   
    
<div class="tax-block">
<img src="/assets/images/icons/tax4.svg" class="virtual-img-252">
<h3 class="sf-ui-display-32-700-blue for-24-font-mob">Credit Card Rewards</h3>
<p class="sf-ui-display-18-06">
Wishes Ambassadors earn 1% cashback on top of their own creditcard rewards and up to another 3-5% by shopping in Wishes Market.</p>    
</div>       
    
</div>  
</div>    
    
</div>    
</section>    
    
    
<app-footer type="default"></app-footer>     
</div>