<div class="fund-wrapper">
<app-navigation-menu type="fund"></app-navigation-menu>
    

<section class="how-it-header">
<div class="container">
<div class="how-it-wrap">
<div class="column">
<p class="sf-pro-text-18-green">Wishes.inc</p>    
<div class="column gap-10">
<h3 class="sf-pro-display-48-white">
Every Dollar Accounted For.<br>
Every Life Counted.</h3>
<p class="sf-ui-display-18-400-white width-630">
Start donating poor people with Wishes.</p>    
</div>  
    
    
<div class="btns-header">
<a class="donor-btnnn" href="https://app.wishes.inc/public/stories" target="_blank">Sponsor a Project</a> 
<a class="donor-btn-v2" href="https://app.wishes.inc/public/stories" target="_blank">Track a Donation</a>    
</div>     
</div> 
     
</div>   
</div>    
</section>  
    


<section class="revolution">
<div class="container">
<div class="revolution-wrap">
<div class="left-rev">
<img src="/assets/images/pig.png" class="rev-mob">    
</div>
    
<div class="right-rev width-535">

<div class="column gap-10">
<h3 class="sf-pro-display-48">What Is Wishes.Fund?</h3>
<p class="sf-ui-display-18-06">
Wishes.Fund is the only platform that certifies donation impact down to the brick, meal, medical bill, or shelter hour.</p>    
</div>    
    
    
<div class="donation-blocks-v2">
    
<div class="downloader-block">
<img src="/assets/images/icons/ic_outline-currency-exchange.svg" class="">
<h3 class="sf-ui-display-24">Real-Time Expense Tracking</h3>  
</div>   
    
<div class="downloader-block">
<img src="/assets/images/icons/ic_outline-area-chart111.svg" class="">
<h3 class="sf-ui-display-24">Public Ledger Access</h3>  
</div>     
    
<div class="downloader-block">
<img src="/assets/images/icons/ic_outline-add-card3333.svg" class="">
<h3 class="sf-ui-display-24">Virtual Card Disbursement</h3>  
</div> 
    
<div class="downloader-block">
<img src="/assets/images/icons/ic_outline-insert-drive-file.svg" class="">
<h3 class="sf-ui-display-24">Transparent Construction Reporting</h3>  
</div>     
    
</div>  
    
</div>    
</div>    
</div>        
</section>  
    
    
    
    
<section class="revolution">
<div class="container">
<div class="revolution-wrap-v22">
<div class="left-rev-v2 width-535">
    
    
<h3 class="sf-pro-display-48">
City of Hope (Angel City)</h3> 
    
    
<div class="donation-blocks-v2">
    
<div class="downloader-block">
<h3 class="sf-ui-display-40-greeeen">16,784</h3>
<p class="sf-ui-display-24">people helped</p>    
</div> 
    
<div class="downloader-block">
<h3 class="sf-ui-display-40-greeeen">$92M</h3>
<p class="sf-ui-display-24">
allocated</p>    
</div>     
    
<div class="downloader-block">
<h3 class="sf-ui-display-40-greeeen">8452</h3>
<p class="sf-ui-display-24">square footage built</p>    
</div> 
    
<button class="donor-btnn-v4">Fund this stage</button>    
     
    
</div>     
      
</div>
    
<div class="right-rev-v2 width-535">

<img src="/assets/images/mntn.png" class="rev-mob">      
 
</div>    
</div>    
</div>        
</section>  
    
    
    
    
<section class="revolution">
<div class="container">
<div class="revolution-wrap">
<div class="left-rev">
<img src="/assets/images/phone.png" class="rev-mob">    
</div>
    
<div class="right-rev width-535">
    
<h3 class="sf-pro-display-48">How It Works</h3> 
    
    
<div class="donation-blocks-v2">
    
<div class="downloader-block">
<h3 class="sf-ui-display-40-greeeen">1</h3>
<p class="sf-ui-display-24">You Donate</p>    
</div> 
    
<div class="downloader-block">
<h3 class="sf-ui-display-40-greeeen">2</h3>
<p class="sf-ui-display-24">
Wishes Issues Funds<br> via Virtual Cards or Projects</p>    
</div>     
    
<div class="downloader-block">
<h3 class="sf-ui-display-40-greeeen">3</h3>
<p class="sf-ui-display-24">You Track Your Impact in Real-Time</p>    
</div> 
    
<button class="donor-btnn-v3">View sample report</button>    
     
    
</div>  
    
</div>    
</div>    
</div>        
</section>      
    
    
    
<section class="whattrack">
<div class="container">
    
<div class="whattrack-wrap">

<h3 class="sf-pro-display-48-white">What We Track</h3>    
    
<div class="whattrack-blocks">

<div class="whattrack-block">
<img src="/assets/images/icons/ic_outline-fastfood22.svg" class="">
<h3 class="sf-ui-display-32-24whiteee">
Support services (medical, food, etc)</h3>    
</div>    
    
<div class="whattrack-block">
<img src="/assets/images/icons/ic_outline-downloading232.svg" class="">
<h3 class="sf-ui-display-32-24whiteee">
Tax receipts and downloadable docs</h3>    
</div>   
    
<div class="whattrack-block">
<img src="/assets/images/icons/ic_outline-monetization-on33.svg" class="">
<h3 class="sf-ui-display-32-24whiteee">
Labor & contractor payments</h3>    
</div>   
    
<div class="whattrack-block">
<img src="/assets/images/icons/ic_outline-credit-card343.svg" class="">
<h3 class="sf-ui-display-32-24whiteee">
Card spend categories</h3>    
</div>   
    
<div class="whattrack-block">
<img src="/assets/images/icons/ic_outline-receipt-long34.svg" class="">
<h3 class="sf-ui-display-32-24whiteee">
Material receipts</h3>    
</div>   
    
<div class="whattrack-block">
<img src="/assets/images/icons/ic_outline-fact-check454.svg" class="">
<h3 class="sf-ui-display-32-24whiteee">
Live budget ledger</h3>    
</div>   
    
    
</div>
    
</div>
    
</div>    
</section>

    
    

    
<section class="donation">
<div class="phone-scroll-wrapper">
<div class="phone-block">
<img src="/assets/images/900.png" alt="Phone 1" />
</div>
<div class="phone-block-v2">
<img src="/assets/images/filter.png" alt="Phone 2" />
</div>
</div>
    
<div class="container">
<div class="donation-wrap">
<div class="donation-left-side-v2">
    
<div class="column gap-10">    
<h3 class="sf-pro-display-48 width-300">
Impact Dashboard</h3>    
<p class="sf-ui-display-18-06">Embed real-time dashboard widget with filters:</p>    
</div>  
    
<div class="donation-blocks-v2">
<div class="downloader-block">
<img src="/assets/images/icons/ic_outline-folder-special6.svg" class="">
<h3 class="sf-ui-display-24">
By category<br> (Shelter, Food, Medical, Jobs)</h3>  
</div>    
    
<div class="downloader-block">
<img src="/assets/images/icons/ic_outline-supervised-user-circle4.svg" class="">
<h3 class="sf-ui-display-24">By donor, amount, or project</h3>  
</div>  
    
<div class="downloader-block">
<img src="/assets/images/icons/ic_outline-map.svg" class="">
<h3 class="sf-ui-display-24">By date, type and status</h3>  
</div>  
    
<div class="downloader-block">
<img src="/assets/images/icons/ic_outline-tag.svg" class="">
<h3 class="sf-ui-display-24">
By custom tags</h3>  
</div>      

</div>      
    
  
</div>    
<div class="donation-right-side-v2">
    
<div class="row gap-20">  
<img class="mob-contents-v2" src="/assets/images/900.png">   
<img class="mob-contents-v2" src="/assets/images/filter.png">    
</div>    
    
</div>    
</div>       
</div>    
</section>  
    

        

    
<section class="slider wishes-padding-container">
<div class="container">
    
<div class="column mob-slider">
<p class="sf-pro-text-18">MORE FOR MORE</p>    
<h3 class="sf-pro-display-48 width-740">
Donor Recognition Tiers</h3>  
<p class="sf-ui-display-18-06">
Earn recognition. Unlock rewards. Join a movement to impact 1 billion lives.</p>    
</div>      
   

<div class="slide-pos mob-slider">  
    
<div class="slide-bnts">
<button class="slider-btn left" (click)="prevSlide(sliderTrackRef.nativeElement)">
<img src="/assets/images/icons/greenleft.svg"></button>
<button class="slider-btn right" (click)="nextSlide(sliderTrackRef.nativeElement)">
<img src="/assets/images/icons/greenright.svg"></button>
</div>       
    
<div class="slider-window">
     
    
<div class="slider-track" #sliderTrack>
        

    
<div class="plan-block-v999-fund">
    
<div class="plan-header-v999-fund">
<div class="column">
<h3 class="sf-ui-display-18-700-blue-18">
Ruby</h3>    
<p class="sf-ui-display-14-grey-40000">For everyone</p>    
</div>
<img src="/assets/images/icons/ruby.svg" class="donor-card-img-v26044">    
</div>    
    
<div class="plan-info">
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Intro badge</p>    
</div> 
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Welcome letter</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Early access to Wishes</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">10% back in points</p>    
</div>     
    
    
</div>  
    
<a class="plans-fund-btn" href="https://app.wishes.inc/auth/donor-registration"  target="_blank">Level up your impact</a>    
</div>  
    
    
  
<div class="plan-block-v999-fund">
    
<div class="plan-header-v999-fund">
<div class="column">
<h3 class="sf-ui-display-18-700-blue-18">
Sapphire</h3>    
<p class="sf-ui-display-14-grey-40000">From 300 USD</p>     
</div>
<img src="/assets/images/icons/fi_10582386.svg" class="donor-card-img-v26044">    
</div>    
    
<div class="plan-info">
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Custom badge</p>    
</div> 
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Featured in monthly donor email</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Quarterly donation reports</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">
20% back in points</p>    
</div>  
        
</div>  
    
<a class="plans-fund-btn" href="https://app.wishes.inc/auth/donor-registration"  target="_blank">Level up your impact</a>  
</div>  
    
    
<div class="plan-block-v999-fund">
    
<div class="plan-header-v999-fund">
<div class="column">
<h3 class="sf-ui-display-18-700-blue-18">
Emerald</h3>    
<p class="sf-ui-display-14-grey-40000">From 1000 USD</p>    
</div>
<img src="/assets/images/icons/fi_18407421.svg" class="donor-card-img-v26044">    
</div>    
    
<div class="plan-info">
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Digital badge</p>    
</div> 
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Social recognition</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Priority invitations to events</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">30% back in points</p>    
</div>  
    
    
</div>  
    
<a class="plans-fund-btn" href="https://app.wishes.inc/auth/donor-registration"  target="_blank">Level up your impact</a>    
</div>      
    
    
    
    
  
<div class="plan-block-v999-fund">
    
<div class="plan-header-v999-fund">
<div class="column">
<h3 class="sf-ui-display-18-700-blue-18">
Ruby</h3>    
<p class="sf-ui-display-14-grey-40000">For everyone</p>    
</div>
<img src="/assets/images/icons/ruby.svg" class="donor-card-img-v26044">    
</div>    
    
<div class="plan-info">
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Intro badge</p>    
</div> 
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Welcome letter</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Early access to Wishes</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">10% back in points</p>    
</div>     
    
    
</div>  
    
<a class="plans-fund-btn" href="https://app.wishes.inc/auth/donor-registration"  target="_blank">Level up your impact</a>    
</div>  
    
    
  
<div class="plan-block-v999-fund">
    
<div class="plan-header-v999-fund">
<div class="column">
<h3 class="sf-ui-display-18-700-blue-18">
Sapphire</h3>    
<p class="sf-ui-display-14-grey-40000">From 300 USD</p>     
</div>
<img src="/assets/images/icons/fi_10582386.svg" class="donor-card-img-v26044">    
</div>    
    
<div class="plan-info">
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Custom badge</p>    
</div> 
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Featured in monthly donor email</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Quarterly donation reports</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">
20% back in points</p>    
</div>  
        
</div>  
    
<a class="plans-fund-btn" href="https://app.wishes.inc/auth/donor-registration"  target="_blank">Level up your impact</a>  
</div>  
    
    
<div class="plan-block-v999-fund">
    
<div class="plan-header-v999-fund">
<div class="column">
<h3 class="sf-ui-display-18-700-blue-18">
Emerald</h3>    
<p class="sf-ui-display-14-grey-40000">From 1000 USD</p>    
</div>
<img src="/assets/images/icons/fi_18407421.svg" class="donor-card-img-v26044">    
</div>    
    
<div class="plan-info">
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Digital badge</p>    
</div> 
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Social recognition</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Priority invitations to events</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">30% back in points</p>    
</div>  
    
    
</div>  
    
<a class="plans-fund-btn" href="https://app.wishes.inc/auth/donor-registration"  target="_blank">Level up your impact</a>  
</div>      
    
        
    

</div> 
</div> 
</div>    
</div>    
</section>    
    
    

    
    
    
<section class="mob-scroll">
<div class="container">  
    
<div class="column">
<p class="sf-pro-text-18">MORE FOR MORE</p>    
<h3 class="sf-pro-display-48 width-740">
Donor Recognition Tiers</h3>  
<p class="sf-ui-display-18-06">
Earn recognition. Unlock rewards. Join a movement to impact 1 billion lives.</p>
</div>      
    
</div>
    
<div class="donate-slider-wrapper">



  
<div class="plan-block-v999-fund">
    
<div class="plan-header-v999-fund">
<div class="column">
<h3 class="sf-ui-display-18-700-blue-18">
Ruby</h3>    
<p class="sf-ui-display-14-grey-40000">For everyone</p>    
</div>
<img src="/assets/images/icons/ruby.svg" class="donor-card-img-v26044">    
</div>    
    
<div class="plan-info">
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Intro badge</p>    
</div> 
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Welcome letter</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Early access to Wishes</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">10% back in points</p>    
</div>     
    
    
</div>  
    
<a class="plans-fund-btn" href="https://app.wishes.inc/auth/donor-registration"  target="_blank">Level up your impact</a>    
</div>  
    
    
  
<div class="plan-block-v999-fund">
    
<div class="plan-header-v999-fund">
<div class="column">
<h3 class="sf-ui-display-18-700-blue-18">
Sapphire</h3>    
<p class="sf-ui-display-14-grey-40000">From 300 USD</p>     
</div>
<img src="/assets/images/icons/fi_10582386.svg" class="donor-card-img-v26044">    
</div>    
    
<div class="plan-info">
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Custom badge</p>    
</div> 
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Featured in monthly donor email</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Quarterly donation reports</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">
20% back in points</p>    
</div>  
        
</div>  
    
<a class="plans-fund-btn" href="https://app.wishes.inc/auth/donor-registration"  target="_blank">Level up your impact</a>  
</div>  
    
    
<div class="plan-block-v999-fund">
    
<div class="plan-header-v999-fund">
<div class="column">
<h3 class="sf-ui-display-18-700-blue-18">
Emerald</h3>    
<p class="sf-ui-display-14-grey-40000">From 1000 USD</p>    
</div>
<img src="/assets/images/icons/fi_18407421.svg" class="donor-card-img-v26044">    
</div>    
    
<div class="plan-info">
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Digital badge</p>    
</div> 
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Social recognition</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">Priority invitations to events</p>    
</div>  
    
<div class="plan-info-block">
<img src="/assets/images/icons/akar-icons_check-box.svg"> 
<p class="sf-ui-display-18-700-blue-18">30% back in points</p>    
</div>  
    
    
</div>  
    
<a class="plans-fund-btn" href="https://app.wishes.inc/auth/donor-registration"  target="_blank">Level up your impact</a>    
</div>      
       
     
    
</div>     
</section>        
        
    
    
    
    

    
<section class="slider testim-fund wishes-padding-container">
<div class="container">
    
<div class="column mob-slider">    
<p class="sf-pro-text-18-white">OUR TESTIMONIALS</p>  
<div class="column gap-10">    
<h3 class="sf-pro-display-48-white width-740">
What Our Client Tell About?</h3> 
<p class="sf-ui-display-18-400-white width-740">
At Wishes, we measure our success by the trust and satisfaction of those we serve. Hear directly from our philanthropists, nonprofits, and business partners who are transforming lives through our transparent giving platform. Their stories of impact, trust, and seamless experiences inspire us every day—and we’re proud to be part of their journey to make the world a better place.</p>
</div>    
</div>      
   

<div class="slide-pos mob-slider">  
    
<div class="slide-bnts">
<button class="slider-btn left" (click)="prevSlide(planTrackRef.nativeElement)">
<img src="/assets/images/icons/greenleft.svg"></button>
<button class="slider-btn right" (click)="nextSlide(planTrackRef.nativeElement)">
<img src="/assets/images/icons/greenright.svg"></button>
</div>       
    
<div class="slider-window">
     
    
<div class="slider-track" #planTrack>
        

<div class="review-block-v2">
<img src="/assets/images/icons/review1.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Guy Hawkins</h3> 
<p class="sf-ui-display-18-400-white">
Highly recommended! This product exceeded my expectations in every way. It has become an essential part of my daily life, and I'm grateful for the positive impact it has had on me.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class="">    
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
</div>    
    
</div>
    
    
<div class="review-block-v2">
<img src="/assets/images/icons/review2.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Ralph Edwards</h3> 
<p class="sf-ui-display-18-400-white">
Efficient and professional. I will definitely use their services again. The professionalism of this team made the entire process effortless and stress-free.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/whitestar1.svg" class="">      
</div>    
    
</div>
    
    
<div class="review-block-v2">
<img src="/assets/images/icons/review3.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Jerome Bell</h3> 
<p class="sf-ui-display-18-400-white">
Life-changing experience! I learned so much from their program. Participating in their program was a transformative experience for me.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
</div>    
    
</div>
    
    
<div class="review-block-v2">
<img src="/assets/images/icons/review4.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Devon Lane</h3> 
<p class="sf-ui-display-18-400-white">
Reliable and trustworthy. They have earned my trust and loyalty. This company has consistently demonstrated reliability and trustworthiness.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/whitestar1.svg" class="">  
<img src="/assets/images/icons/whitestar1.svg" class="">      
</div>    
    
</div>    

  
    
    
<div class="review-block-v2">
<img src="/assets/images/icons/review1.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Guy Hawkins</h3> 
<p class="sf-ui-display-18-400-white">
Highly recommended! This product exceeded my expectations in every way. It has become an essential part of my daily life, and I'm grateful for the positive impact it has had on me.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
</div>    
    
</div>
    
    
<div class="review-block-v2">
<img src="/assets/images/icons/review2.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Ralph Edwards</h3> 
<p class="sf-ui-display-18-400-white">
Efficient and professional. I will definitely use their services again. The professionalism of this team made the entire process effortless and stress-free.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/whitestar1.svg" class="">      
</div>    
    
</div>
    
    
<div class="review-block-v2">
<img src="/assets/images/icons/review3.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Jerome Bell</h3> 
<p class="sf-ui-display-18-400-white">
Life-changing experience! I learned so much from their program. Participating in their program was a transformative experience for me.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
    
</div>    
    
</div>
    
    
<div class="review-block-v2">
<img src="/assets/images/icons/review4.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Devon Lane</h3> 
<p class="sf-ui-display-18-400-white">
Reliable and trustworthy. They have earned my trust and loyalty. This company has consistently demonstrated reliability and trustworthiness.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/whitestar1.svg" class="">  
<img src="/assets/images/icons/whitestar1.svg" class="">      
</div>    
    
</div>      
    

</div> 
</div> 
</div>    
</div>    
</section>    
    
    

    
    
    
<section class="mob-scroll testim-fund-mob">
<div class="container">  
    
<div class="column">
<p class="sf-pro-text-18-white">OUR TESTIMONIALS</p>  
<div class="column gap-10">    
<h3 class="sf-pro-display-48-white width-740">
What Our Client Tell About?</h3> 
<p class="sf-ui-display-18-400-white width-740">
At Wishes, we measure our success by the trust and satisfaction of those we serve. Hear directly from our philanthropists, nonprofits, and business partners who are transforming lives through our transparent giving platform. Their stories of impact, trust, and seamless experiences inspire us every day—and we’re proud to be part of their journey to make the world a better place.</p>
</div>   
</div>      
    
</div>
    
<div class="donate-slider-wrapper">


<div class="review-block-v2">
<img src="/assets/images/icons/review1.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Guy Hawkins</h3> 
<p class="sf-ui-display-18-400-white">
Highly recommended! This product exceeded my expectations in every way. It has become an essential part of my daily life, and I'm grateful for the positive impact it has had on me.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class="">    
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
</div>    
    
</div>
    
    
<div class="review-block-v2">
<img src="/assets/images/icons/review2.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Ralph Edwards</h3> 
<p class="sf-ui-display-18-400-white">
Efficient and professional. I will definitely use their services again. The professionalism of this team made the entire process effortless and stress-free.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/whitestar1.svg" class="">      
</div>    
    
</div>
    
    
<div class="review-block-v2">
<img src="/assets/images/icons/review3.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Jerome Bell</h3> 
<p class="sf-ui-display-18-400-white">
Life-changing experience! I learned so much from their program. Participating in their program was a transformative experience for me.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
</div>    
    
</div>
    
    
<div class="review-block-v2">
<img src="/assets/images/icons/review4.svg" class="">    
    
<div class="column gap-10 review-height">
<h3 class="sf-ui-display-24-white">Devon Lane</h3> 
<p class="sf-ui-display-18-400-white">
Reliable and trustworthy. They have earned my trust and loyalty. This company has consistently demonstrated reliability and trustworthiness.</p>    
</div>  
    
<div class="stars-review">
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/greenstar.svg" class=""> 
<img src="/assets/images/icons/whitestar1.svg" class="">  
<img src="/assets/images/icons/whitestar1.svg" class="">      
</div>    
    
</div>    
    
  
     
    
</div>     
</section>        
        
        
    
    
    
    
 
<section class="downloader-pdf">
<div class="container">

<div class="downloader-pdf-wrap">

<div class="downloader-pdf-left width-525">
<p class="sf-pro-text-18">DOWNLOADS</p>    
<h3 class="sf-pro-display-48">Advocacy & Transparency Reports</h3>    
</div>    
    
<div class="downloader-pdf-right width-525">

<div class="downloader-block-v2">
<img src="/assets/images/icons/ic_outline-picture-as-pdfgreen.svg" class="">
<h3 class="sf-ui-display-24">Audit Reports (400Kb)</h3>  
</div>  
    
<div class="downloader-block-v2">
<img src="/assets/images/icons/ic_outline-picture-as-pdfgreen.svg" class="">
<h3 class="sf-ui-display-24">Government Partnerships (2.3Mb)</h3>  
</div>  
    
<div class="downloader-block-v2">
<img src="/assets/images/icons/ic_outline-picture-as-pdfgreen.svg" class="">
<h3 class="sf-ui-display-24">Policy Proposals (142Kb)</h3>  
</div>      
    
</div>    
    
</div>
    
</div>    
</section>    
    
    
    
    

     
    
    
    

    
<app-footer type="fund"></app-footer>      
    
    
    
</div>