@import "abstracts/variables";
@import "abstracts/mixins";



.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 444;
    
    @media all and (max-width: 768px){
        display: none;
    }
    
    //display: none;
}



.navbar-column{
    
}


.blue-nav{
    background: #0A1748;
    height: 32px;
    display: flex;
    align-items: center;
    flex-direction: row;
    
    @media all and (max-width: 768px){
        padding: 8px 20px;
    }
}







.white-nav {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: flex-start;
  /* gap: 75px; */
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
}



.white-nav-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.white-nav-links {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 20px;
}


.white-nav-link{
    color: #0A1748;
    font-family: "SF UI Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: -0.5px;
    cursor: pointer;
    
}

.white-nav-link:hover{
    color: #F56EAC;
    transition: 0.3s ease;
}

.white-nav-link.active-link {
    color: #F56EAC;
    font-family: "SF UI Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.5px;
}










.logo{
    cursor: pointer;
}


.soc-med {
  display: inline-flex;
  align-items: center;
  gap: 5px;
    
}



.social-link {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;

  transition: background 0.3s ease;
}


.social-link:hover {
  filter: brightness(0.5); 
}


.navbar-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-adress {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
    
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
}


.navbar-email {
  display: flex;
  align-items: center;
  gap: 5px;

  color: #fff;
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  letter-spacing: -0.5px;
}



.blue-nav-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
    
    @media all and (max-width: 768px){
        width: 100%;
    }
}




.sign-in-btn {
  cursor: pointer;
  display: flex;
  height: 46px;
  padding: 12px 27px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 24px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #f56eac;
  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
    
    @media all and (max-width: 768px){
        width: 100%;
        
    }
}

.sign-in-btn:hover{
  border-radius: 24px; 
  background: #F56EAC;
  box-shadow: 0px 0px 20px 0px rgba(245, 110, 172, 0.40);
  transition: 0.3s ease;
}




.navbar-row-v2{
    display: flex;
    flex-direction: row;
    gap: 22px;
}



.mob-header{
    display: none;
    
    
    @media all and (max-width: 768px){
        display: flex;
    }
}




.mob-header-pay{
    display: none;
    
    
    @media all and (max-width: 768px){
        display: flex;
    }
}


.mob-header-fund{
    display: none;
    
    
    @media all and (max-width: 768px){
        display: flex;
    }
}





.mob-header {
  
  background: #fff;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  flex-direction: column;
    


  .mob-header-wrap {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    padding: 20px;
    gap: 20px;

    .logo {
      width: 48px;
      height: 32px;
    }

    .mob-page-title {
      color: #0A1748;
      font-family: "SF Pro Display";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.374px;
      text-align: center;
      flex: 1;
    }

    .burger-btn {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;

      img {
        width: 24px;
      }
    }
  }

  .mob-nav {
    background: #061656;
    color: white;
    position: absolute;
    top: 104px;
    left: 0;
    height: 100vh;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    //padding: 0 20px;
      


    &.active {
      max-height: 100vh;
     // padding: 20px;
    height: calc(100vh - 104px); 
    overflow-y: auto;
    padding-bottom: 40px;   
    scrollbar-width: none; 
    -ms-overflow-style: none; 

    }
      


   &::-webkit-scrollbar {
    display: none; 
   }

    .soc-med {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;

      a img {
        width: 18px;
      }
    }

    .mob-nav-links {
     // list-style: none;
      padding: 40px 20px 0px;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 5px;

      a {
       // color: #fff;
       // text-decoration: none;
        //font-weight: 500;

        &:hover {
          color: #f56eac;
        }
      }
    }

    .nav-bottom {
      padding: 0 20px;


    }
  }
}







.mob-navbar-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.nav-breaker{
    opacity: 0.1;
    background: #FFF;
    width: 100%;
    margin: 30px 0;
    height: 1px;
    align-self: stretch;
}

.mob-nav-link{
    color: #FFF;
    font-family: "SF UI Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; 
    cursor: pointer;
    display: flex;
    //height: 44px;
    align-items: center;
    gap: 20px;
    transition: 0.3s ease;
    align-self: stretch;
    letter-spacing: -0.5px;
    
    &.active-link {
    color: #f56eac;
    }

}


.mob-nav-link:hover{
    color: #F56EAC;
}





.navbar-mob-adress{
    display: flex;
    align-items: center;
    gap: 20px;
    
    color: #FFF;
    font-family: "SF UI Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.5px;
}


.navbar-mob-email{
    display: flex;
    align-items: center;
    gap: 20px;
    
    color: #FFF;
    font-family: "SF UI Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.5px;
}

.navbar-mob-inbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;
}


.white-nav-link:disabled {
  color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
  background: none;
  border: none;
  pointer-events: none;
  padding-left: 0;
}




.mob-nav-link:disabled {
  color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
  background: none;
  border: none;
  pointer-events: none;
  padding-left: 0;
}









.white-nav-link:disabled:hover {
  pointer-events: none;
  color: #ccc;
  background: none;
  border: none;
  opacity: 0.6;
  padding-left: 0;
}


