<div class="pay-wrapper">
<app-navigation-menu type="pay"></app-navigation-menu>
     
<section class="business-header">
<div class="container">
<div class="business-wrap">
<div class="column home-z-index">
<p class="sf-pro-text-yellow-18">
Giving That Works For Your Business</p>    
<div class="column gap-10">
<h3 class="sf-pro-display-48-white width-630">
Fund causes, engage customers, and earn up to 
$0.50 cents back on every $1 spent to any charity</h3>
<p class="sf-ui-display-18-400-white">
From roundups and supplier cards to real-time crisis relief,<br>
WishesPay is your business’s impact engine — with built-in rewards.    
</p>    
</div> 
    
<div class="btns-header">
<a class="buss-btn" href="https://app.wishes.inc/auth/login" target="_blank">Join now</a> 
<button class="buss-btn-v2">Schedule a demo</button>    
</div>    
</div>   
</div>      
</div>    
</section> 
    
    
<section class="payments">    
<div class="phone-scroll-wrapper-v2">
  <div class="phone-block">
    <img src="/assets/images/pay1.png" alt="Phone 1" />
  </div>
  <div class="phone-block-v2">
    <img src="/assets/images/pay4.png" alt="Phone 2" />
  </div>
</div>
     
<div class="container">
<div class="payment-wrap">   
<div class="payment-left-side mob-contents-v2">   
<div class="row gap-20">
<div class="column gap-25">
<img src="/assets/images/pay1.png">
<img class="mob-contents-v2" src="/assets/images/pay2.png">    
</div>   
<div class="column gap-25">
<img class="mob-contents-v2" src="/assets/images/pay3.png">
<img  src="/assets/images/pay4.png">    
</div>     
</div>
</div>
    
<div class="payment-right-side">
<div class="column gap-10 width-480">
<h3 class="pay-title-48">
Let customers round up their purchases for verified causes.</h3>
<p class="pay-text">You keep the goodwill, we certify the impact.</p>    
</div>

<div class="downloader-info">    
<div class="downloader-block">
<img src="/assets/images/icons/yellow-mark.svg" class="">
<div class="column gap-8">
<h3 class="sf-ui-display-20-fff-700">Tax-Smart Giving</h3>
<p class="pay-text">
Donations and roundups processed through Wishes are fully trackable and deductible.</p>    
</div>    
</div> 

<div class="downloader-block">
<img src="/assets/images/icons/yellow-mark.svg" class="">
<div class="column gap-8">
<h3 class="sf-ui-display-20-fff-700">Re-Engagement Tools</h3>
<p class="pay-text">
Auto-share verified donation results with customers boost brand trust and retention.</p>    
</div>    
</div>   

<div class="downloader-block">
<img src="/assets/images/icons/yellow-mark.svg" class="">
<div class="column gap-8">
<h3 class="sf-ui-display-20-fff-700">Rewards That Scale</h3>
<p class="pay-text">
Earn up to 50¢ per $1 back in points via Mastercard spend. Redeem across 76,000+ retailers.</p>    
</div>    
</div>     
    
<div class="downloader-block">
<img src="/assets/images/icons/yellow-mark.svg" class="">
<div class="column gap-8">
<h3 class="sf-ui-display-20-fff-700">Team Giving & CSR</h3>
<p class="pay-text">
Launch internal giving campaigns with real-time dashboards, perfect for enterprise CSR teams.</p>    
</div>    
</div> 
    
<div class="downloader-block">
<img src="/assets/images/icons/yellow-mark.svg" class="">
<div class="column gap-8">
<h3 class="sf-ui-display-20-fff-700">Disaster Response Credits</h3>
<p class="pay-text">
Instantly issue virtual Mastercards to affected individuals, partners, or employees during emergencies.</p>    
</div>    
</div> 
    
<div class="downloader-block">
<img src="/assets/images/icons/yellow-mark.svg" class="">
<div class="column gap-8">
<h3 class="sf-ui-display-20-fff-700">Supplier Payments</h3>
<p class="pay-text">
Replace wires and checks with impact-powered virtual cards for your vendors and partners</p>    
</div>    
</div>     
</div>     
</div>    
</div>     
</div>        
</section>      
    
    

<section class="slider wishes-padding-container">
<div class="container">
<div class="column mob-slider">    
<div class="column gap-10">
<h3 class="pay-title-48">
Use Cases</h3> 
</div>     
</div>      
    
<div class="map-position mob-slider">
<img src="/assets/images/yellow-map.png">    
</div>    

<div class="slide-pos mob-slider">  
<div class="slide-bnts">
<button class="slider-btn left" (click)="prevSlide(sliderTrackRef.nativeElement)">
<img src="/assets/images/icons/yellow-left.svg"></button>
<button class="slider-btn right" (click)="nextSlide(sliderTrackRef.nativeElement)">
<img src="/assets/images/icons/yellow-right.svg"></button>
</div>       
    
<div class="slider-window">    
<div class="slider-track" #sliderTrack>
        
<div class="service-block"> 
<img src="/assets/images/ser1.png" class="service-img">
<div class="service-info">
<div class="column gap-5">
<h3 class="sf-ui-display-24-white">Retailer Roundup<br> Program</h3>
<p class="pay-text">
Enable roundups at checkout with donation receipts auto-delivered to customers.</p>  
</div> 
<button class="service-btn">Read more</button>     
</div>    
</div>    
    
<div class="service-block"> 
<img src="/assets/images/ser3.png" class="service-img">
<div class="service-info">
<div class="column gap-5">
<h3 class="sf-ui-display-24-white">
Corporate Giving<br> Campaigns</h3>
<p class="pay-text">
Gamify team giving goals with impact dashboards and social leaderboards.</p>    
</div>
<button class="service-btn">Read more</button>    
</div>    
</div>  
    
<div class="service-block"> 
<img src="/assets/images/ser2.png" class="service-img">
<div class="service-info">
<div class="column gap-5">
<h3 class="sf-ui-display-24-white">
Emergency Relief<br> for Employees</h3>
<p class="pay-text">
Distribute aid in seconds — no bank required.</p>    
</div>
<button class="service-btn">Read more</button>    
</div>    
</div>  
    
<div class="service-block"> 
<img src="/assets/images/ser1.png" class="service-img">
<div class="service-info">
<div class="column gap-5">
<h3 class="sf-ui-display-24-white">Retailer Roundup<br> Program</h3>
<p class="pay-text">
Enable roundups at checkout with donation receipts auto-delivered to customers.</p>   
</div>
<button class="service-btn">Read more</button>    
</div>    
</div>    
     
<div class="service-block"> 
<img src="/assets/images/ser3.png" class="service-img">    
<div class="service-info">
<div class="column gap-5">
<h3 class="sf-ui-display-24-white">
Corporate Giving<br> Campaigns</h3>
<p class="pay-text">
Gamify team giving goals with impact dashboards and social leaderboards.</p>    
</div>
<button class="service-btn">Read more</button>    
</div>    
</div>   
    
<div class="service-block"> 
<img src="/assets/images/ser2.png" class="service-img">
<div class="service-info">
<div class="column gap-5">
<h3 class="sf-ui-display-24-white">
Emergency Relief<br> for Employees</h3>
<p class="pay-text">
Distribute aid in seconds — no bank required.</p>    
</div>
<button class="service-btn">Read more</button>    
</div>    
</div>     

</div> 
</div>  
</div>    
</div>    
</section>    
    

<section class="mob-scroll">
<div class="container">  
    
<div class="column">   
<div class="column gap-10">
<h3 class="pay-title-48">
Use Cases</h3>  
</div>    
</div>      
    
</div>
    
<div class="donate-slider-wrapper">

<div class="service-block"> 
<img src="/assets/images/ser1.png" class="service-img">
<div class="service-info">
<div class="column gap-5">
<h3 class="sf-ui-display-24-white">Retailer Roundup<br> Program</h3>
<p class="pay-text">
Enable roundups at checkout with donation receipts auto-delivered to customers.</p>   
</div>
<button class="service-btn">Read more</button>    
</div>    
</div>    
    
    
<div class="service-block"> 
<img src="/assets/images/ser3.png" class="service-img">
<div class="service-info">
<div class="column gap-5">
<h3 class="sf-ui-display-24-white">
Corporate Giving<br> Campaigns</h3>
<p class="pay-text">
Gamify team giving goals with impact dashboards and social leaderboards.</p>    
</div>
<button class="service-btn">Read more</button>    
</div>
</div>  
    
    
<div class="service-block"> 
<img src="/assets/images/ser2.png" class="service-img">
<div class="service-info">
<div class="column gap-5">
<h3 class="sf-ui-display-24-white">
Emergency Relief<br> for Employees</h3>
<p class="pay-text">
Distribute aid in seconds — no bank required.</p>    
</div>
<button class="service-btn">Read more</button>    
</div>    
</div>       
     
</div>     
</section>        
    
    
<section class="impact-reporting">
<div class="container">
<div class="column gap-10">
<h3 class="pay-title-48 width-400">Impact Reporting + Certification</h3>
<p class="sf-ui-display-18-400-white width-420">
Every dollar spent or rounded up is certified, trackable,
and publicly visible to your customers, teams, or community.
No vague promises. No fluff.</p>    
</div>
</div>    
</section>

    
<section class="donation">
<div class="phone-scroll-wrapper">
<div class="phone-block">
<img src="/assets/images/icsa.png" alt="Phone 1" />
</div>
<div class="phone-block-v2">
<img src="/assets/images/screen2.png" alt="Phone 2" />
</div>
</div>
    
<div class="container">
<div class="donation-wrap">
<div class="donation-left-side">
<div class="row gap-20">  
<img class="mob-contents-v2" src="/assets/images/icsa.png">   
<img class="mob-contents-v2" src="/assets/images/screen2.png">    
</div>    
</div>    
<div class="donation-right-side">
    
<h3 class="pay-title-48 width-300">
Mastercard Integration With Wishes</h3>    
    
<div class="donation-blocks">
<div class="downloader-block">
<img src="/assets/images/icons/yellow-mark.svg" class="">
<h3 class="sf-ui-display-20-fff-700">Instantly issued</h3>  
</div>    
    
<div class="downloader-block">
<img src="/assets/images/icons/yellow-mark.svg" class="">
<h3 class="sf-ui-display-20-fff-700">Track spend & rewards</h3>  
</div>  
    
<div class="downloader-block">
<img src="/assets/images/icons/yellow-mark.svg" class="">
<h3 class="sf-ui-display-20-fff-700">Auto-generate tax docs</h3>  
</div>  
    
<div class="downloader-block">
<img src="/assets/images/icons/yellow-mark.svg" class="">
<h3 class="sf-ui-display-20-fff-700 width-270">
Connects to shopping portal for points redemption</h3>  
</div>      
<a class="donation-btn" href="https://app.wishes.inc/auth/donor/role" target="_blank">Request business Mastercard</a>    
</div>    
</div>    
</div>       
</div>    
</section>  
    

    
    
    
<section class="downloader">
    
<div class="phone-scroll-wrapper-v3">
<div class="phone-block">
<img src="/assets/images/downl1.png" alt="Phone 1" />
</div>
<div class="phone-block-v2">
<img src="/assets/images/downl2.png" alt="Phone 2" />
</div>
</div>
    

    
<div class="container">
<div class="downloader-wrap">
    
<div class="right-download">
<div class="column width-444">
<h3 class="pay-title-48">Ready to power your business with real impact?</h3> 
</div>    
    
<div class="downloader-info"> 
    
<div class="downloader-block">
<h3 class="sf-ui-display-36-yellow">1</h3>
<p class="sf-ui-display-20-fff-700">Start Roundups</p>    
</div> 
    
<div class="downloader-block">
<h3 class="sf-ui-display-36-yellow">2</h3>
<p class="sf-ui-display-20-fff-700">Get a Mastercard</p>    
</div> 
    
<div class="downloader-block">
<h3 class="sf-ui-display-36-yellow">3</h3>
<p class="sf-ui-display-20-fff-700">Talk to Sales</p>    
</div>     
     
<div class="btn-download-wrap" >
<button class="downloader-btn" disabled>
<img src="/assets/images/icons/mdi_google-play-black.svg">
Get it on Google Play</button> 
    
<a class="downloader-btn" href="https://apps.apple.com/us/app/wishes-inc/id6453168531" target="_blank">
<img src="/assets/images/icons/simple-icons_appstore-black.svg">
Get it on App Store</a>  
</div>    
</div>  
</div>      
    
    
<div class="left-download mob-contents-v2">
<div class="row gap-20">   
    
<div class="column gap-20">
<img src="/assets/images/downl1.png">
</div>
    
<div class="column gap-20">
<img src="/assets/images/downl2.png">  
</div> 
    
</div>    
</div>
    
  
</div>    
    
</div>    
</section>    
    
    
  
    
    
    
    
<app-footer type="pay"></app-footer>   
    
</div>