// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container-main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include respond-to("xl") {
    max-width: 1040px;
  }

  @include respond-to("lg") {
    max-width: 768px;
  }

  @include respond-to("md") {
    max-width: 480px;
  }

  @include respond-to("sm") {
    margin: 0;
  }
}
