/**
 * Basic typography style for text
 */

body {
  color: $text-main;
  font: normal 100% / 1.2 $text-font-stack;
  letter-spacing: -0.5px;
}

.title {
  font-family: "SF Mono", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  color: $snow-white;

  &--aqua-mint {
    color: $aqua-mint;
  }
}

.text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;

  color: $white;

  &--medium-gray {
    color: $medium-gray;
  }

  &--dark-black {
    line-height: normal;

    color: rgba($dark-black-rgba, 0.6);
  }

  &--shadow-black {
    line-height: normal;

    color: rgba($shadow-black-rgba, 0.6);
  }

  &--snow-white {
    color: rgba($snow-white-rgba, 0.6);
  }
}

.sf-pro-text-18 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
}

.sf-pro-display-48 {
  color: #0a1748;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;

  @media all and (max-width: 768px) {
    font-size: 32px;
  }
}

.sf-ui-display-18-06 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  opacity: 0.6;
}

.sf-ui-display-24 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.sf-pro-text-18-pink {
  color: #f56eac;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
}

.sf-ui-display-24-white {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.sf-ui-display-18-400 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.sf-pro-display-48-white {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;

  @media all and (max-width: 768px) {
    font-size: 32px;
  }
}

.sf-ui-display-18-400-white {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  opacity: 0.6;
}

.sf-ui-display-48-blue {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}

.sf-ui-display-20-blue {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
}

.sf-ui-display-18-06 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.sf-pro-text-14-grey {
  color: rgba(10, 23, 72, 0.6);
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.sf-pro-text-14-blue-700 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.sf-pro-display-32-700-blue {
  color: #0a1748;
  font-family: "SF Pro Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;
}

.sf-ui-display-32-700-blue {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.5px;
}

.sf-ui-display-22-700 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.sf-pro-display-32-700-white {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;
}

.sf-pro-text-18-700-10 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: -0.408px;
}

.sf-ui-display-20-fff-700 {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
}

.sf-ui-display-14-400-grey-18 {
  color: rgba(10, 23, 72, 0.6);
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.sf-ui-display-18-700-blue-18 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.sf-ui-display-14-pink-500-20 {
  color: #f56eac;
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.font-24-for-mobs {
  @media all and (max-width: 768px) {
    font-size: 24px !important;
  }
}

.sf-ui-display-64-400-130 {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.sf-ui-display-65-400-blue-130 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.sf-ui-display-32-700-44-fff {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.5px;
}

.game-title {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  flex: 1 0 0;
  text-align: center;
  // width: 155px;
  letter-spacing: -0.408px;
  text-transform: uppercase;

  @media all and (max-width: 768px) {
    color: #0a1748;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 13.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 16.5px;
    letter-spacing: -0.306px;
    text-transform: uppercase;
  }
}

.game-title-2 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 155px;

  @media all and (max-width: 768px) {
    color: #0a1748;
    font-family: "SF Pro Text";
    font-size: 13.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 16.5px;
    letter-spacing: -0.306px;
    width: 115px;
  }
}

.game-title-3 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 155px;
  text-align: left;
  text-transform: uppercase;

  @media all and (max-width: 768px) {
    color: #0a1748;
    font-family: "SF Pro Text";
    font-size: 13.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 16.5px;
    letter-spacing: -0.306px;
    text-transform: uppercase;
    width: 115px;
  }
}

.game-text {
  color: #0a1748;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
  opacity: 0.6;
  align-self: stretch;

  @media all and (max-width: 768px) {
    color: #0a1748;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 13.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: -0.306px;
  }
}

.sf-ui-display-64-400-130-05-white {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.sf-pro-text-18-v5 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.sf-ui-display-14-opacity-06 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-top: 20px;
  line-height: 130%;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    padding-top: 0;
  }
}

.sf-range-title {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.5px;
}

.for-24-font-mob {
  @media all and (max-width: 768px) {
    color: #0a1748;
    font-family: "SF UI Display";
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.5px;
  }
}

.for-48-font-mob {
  @media all and (max-width: 768px) {
    color: #fff;
    font-family: "SF UI Display";
    font-size: 48px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.5px;
  }
}

.for-48-blue-mob-font {
  @media all and (max-width: 768px) {
    color: #0a1748;
    font-family: "SF UI Display";
    font-size: 48px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.5px;
  }
}

.for-24-white-font-mob {
  @media all and (max-width: 768px) {
    color: #fff;
    font-family: "SF UI Display";
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.5px;
  }
}

.sf-pro-display-24-0a1748-700 {
  color: #0a1748;
  font-family: "SF Pro Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;
}

.welcome-title {
  color: #fff;
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;

  @media all and (max-width: 768px) {
    font-size: 32px;
    text-align: left;
  }
}

.welcome-subtitle {
  color: #fff;
  text-align: center;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  opacity: 0.6;

  @media all and (max-width: 768px) {
    text-align: left;
  }
}

.welcome-white-title {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.5px;
}

.welcome-white-subtitle {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.welcome-black-title {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.5px;
}

.welcome-black-subtitle {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  opacity: 0.6;
}

.pay-text {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.6;
  letter-spacing: -0.5px;
}

.pay-title-48 {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;

  @media all and (max-width: 768px) {
    font-size: 32px;
  }
}

.sf-pro-text-yellow-18 {
  color: #e9c21b;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
}

.sf-pro-text-18-blackk {
  color: #070b16;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
}

.sf-ui-display-24-blackk {
  color: #070b16;
  font-family: "SF UI Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.sf-ui-display-48-whiteee {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    font-size: 32px;
  }
}

.sf-ui-display-18-whiteee {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.sf-ui-display-14-greyyy {
  color: rgba(255, 255, 255, 0.6);
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.sf-ui-display-14-yellowww {
  color: #e9c21b;
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.sf-pro-24-display-whiteeee {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;
}

.sf-ui-display-32-24whiteee {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    font-size: 24px;
  }
}

.sf-pro-text-18-whiteeeee {
  color: #fff;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: -0.408px;
}

.sf-pro-text-18-green {
  color: #2c9d81;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
}

.sf-ui-display-32-24-mob-blue {
  color: #192d6c;
  font-family: "SF UI Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    font-size: 24px;
  }
}

.sf-ui-display-18-blueeee {
  color: #192d6c;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  opacity: 0.6;
}

.sf-ui-display-48-blueee {
  color: #192d6c;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;

  @media all and (max-width: 768px) {
    font-size: 32px;
  }
}

.sf-ui-display-24-blueee-700 {
  color: #192d6c;
  font-family: "SF UI Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.sf-ui-display-22-blueee-700 {
  color: #192d6c;
  font-family: "SF UI Display";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.sf-ui-dsply-18-darkblue {
  color: #192d6c;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.sf-ui-display-14-blue06 {
  color: #192d6c;
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
  opacity: 0.6;
}

.sf-pro-text-14-400-gray-22 {
  color: rgba(25, 45, 108, 0.6);
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.sf-pro-text-14-darkblueee {
  color: #192d6c;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.sf-pro-text-18-192d6c-700 {
  color: #192d6c;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: -0.408px;
}

.sf-pro-text-18-blueee-uppercase {
  color: #192d6c;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
}

.sf-pro-text-18-green-uppercase {
  color: #2c9d81;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
}

.cards-text-18 {
  color: #192d6c;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.cards-subtitle-14 {
  color: rgba(25, 45, 108, 0.6);
  font-family: "SF UI Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.sf-ui-display-20-green-700 {
  color: #192d6c;
  font-family: "SF UI Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
}

.sf-ui-display-64-blueee {
  color: #192d6c;
  font-family: "SF UI Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    font-size: 48px;
  }
}

.movement-title-32-24 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    font-size: 24px;
  }
}

.sf-pro-display-32-24-fff-700-0374 {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;

  @media all and (max-width: 768px) {
    font-size: 24px;
  }
}

.performance-black-title {
  color: rgba(10, 23, 72, 0.6);
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.performance-text {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.investment-check {
  color: #0a1748;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
  opacity: 0.6;
  width: 192px;
}

.investment-check-v2 {
  color: #0a1748;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
  width: 192px;
}

.investment-title-2 {
  color: #0a1748;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 192px;
}

.investment-title {
  color: #0a1748;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
  width: 192px;
}

.investment-title-3 {
  color: #0a1748;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
  width: 192px;
}

.infrastructure-title {
  color: #0a1748;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
  width: 155px;
}

.infrastructure-title-2 {
  color: #0a1748;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 155px;
}

.infrastructure-check {
  color: #0a1748;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
  opacity: 0.6;
  width: 155px;
}

.mitigation-title {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
  width: 285px;

  @media all and (max-width: 768px) {
    width: 220px;
  }
}

.mitigation-title-last {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
  width: 450px;

  @media all and (max-width: 768px) {
    width: 220px;
  }
}

.mitigation-title-2 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 285px;

  @media all and (max-width: 768px) {
    width: 220px;
  }
}

.mitigation-check {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
  opacity: 0.6;
  width: 285px;

  @media all and (max-width: 768px) {
    width: 220px;
  }
}

.mitigation-check-last {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
  opacity: 0.6;
  width: 450px;

  @media all and (max-width: 768px) {
    width: 220px;
  }
}

.users-64-title {
  color: #fff;
  font-family: "SF UI Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.key-title-32-24 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    color: #0a1748;
    font-family: "SF UI Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
  }
}

.technology-24-18 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    color: #0a1748;
    font-family: "SF UI Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.5px;
  }
}

.technology-32-24 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    color: #0a1748;
    font-family: "SF UI Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
  }
}

.pink-32-24 {
  color: #f56eac;
  font-family: "SF UI Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    color: #f56eac;
    font-family: "SF UI Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.5px;
  }
}

.policy-title-24 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.policy-title-18-v2 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.policy-title-32 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.5px;
}

.terms-title-18 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.sf-ui-display-18-06-v44 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.trust-title-32 {
  color: #0a1748;
  font-family: "SF Pro Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.374px;

  @media all and (max-width: 768px) {
    font-size: 24px;
  }
}

.holder-title {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 225px;
}

.holder-title-2 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 225px;
}

.holder-check {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  //width: 225px;

  @media all and (max-width: 768px) {
    width: 450px;
  }
}

.status-title {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 100px;
}

.status-title-2 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 100px;
}

.status-title-v3 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;

  max-width: 1000px;
  width: 100%;

  @media all and (max-width: 768px) {
    width: 750px;
  }
}

.status-check {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  max-width: 1000px;
  width: 100%;

  @media all and (max-width: 768px) {
    width: 750px;
  }
}

.personal-title {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 200px;
}

.personal-title-2 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 200px;
}

.personal-check {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  max-width: 800px;
  width: 100%;

  @media all and (max-width: 768px) {
    width: 750px;
  }
}

.definitions-title {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 150px;
}

.definitions-title-2 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 150px;
}

.definitions-check {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  max-width: 850px;
  width: 100%;

  @media all and (max-width: 768px) {
    width: 750px;
  }
}

.price-title {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  // width: 150px;
}

.price-title-2 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  //width: 150px;
}

.price-check {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  // max-width: 850px;
  //width: 100%;
}

.admin-24-18 {
  color: #0a1748;
  font-family: "SF UI Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;

  @media all and (max-width: 768px) {
    font-size: 18px;
  }
}

.impact-model-title {
  color: #f56eac;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: uppercase;
  width: 340px;

  @media all and (max-width: 768px) {
    width: 240px;
  }
}

.impact-model-title-2 {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 340px;

  @media all and (max-width: 768px) {
    width: 240px;
  }
}

.impact-model-check {
  color: #0a1748;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
  opacity: 0.8;
  width: 340px;

  @media all and (max-width: 768px) {
    width: 240px;
  }
}


.sf-ui-18-dsply-blue{
    color: #0A1748;
    font-family: "SF UI Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: -0.5px;
}


.sf-ui-18-dsply-disabled{
    color: #A2A2A2;
    font-family: "SF UI Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: -0.5px;
}

.sf-ui-displ-text{
    color: #A2A2A2;
    font-family: "SF UI Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;
    opacity: 0.6;
}


.util-table-title{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 440px;
}

.util-table-title-v2{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 200px;
}

.util-table-title-2{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    width: 200px;
}

.util-table-check{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 440px;
}

.sf-ui-display-20-700-link-line{
    color: #F56EAC;
    font-family: "SF UI Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
    cursor: pointer;
    transform: 0.3s ease;
    
    &:hover{
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }
}



.digmed-table-title{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 430px;
}

.digmed-table-title-v2{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 300px;
}

.digmed-table-title-2{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    width: 300px;
}

.digmed-table-check{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 430px;
}


.wish-heart-48{
    color: #FFF;
    font-family: "SF UI Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
}

.wish-heart-20{
    color: #FFF;
    font-family: "SF UI Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}



.socimp-table-title{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 400px;
}

.socimp-table-title-v2{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 260px;
}

.socimp-table-title-2{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    width: 260px;
}

.socimp-table-check{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 400px;
}




.retail-table-title{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 490px;
}

.retail-table-title-last{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 340px;
}

.retail-table-title-v2{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 180px;
}

.retail-table-title-2{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    width: 180px;
}

.retail-table-check{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 490px;
}

.retail-table-check-last{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 340px;
}




.sponsor-table-title{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 540px;
}

.sponsor-table-title-v2{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 200px;
}

.sponsor-table-title-v3{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 280px;
}

.sponsor-table-title-2{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    width: 200px;
}



.sponsor-table-check{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 540px;
}

.sponsor-table-check-v2{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 280px;
}




.point-table-title-v2{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 525px;
    
    @media all and (max-width: 768px){
        width: 350px;
    }
}

.point-table-title-2{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    width: 525px;
    
    @media all and (max-width: 768px){
        width: 350px;
    }
}

.point-table-check{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 525px;
    
    @media all and (max-width: 768px){
        width: 350px;
    }
}



.ambassador-table-title{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 240px;
}

.ambassador-table-title-last{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 540px;
}

.ambassador-table-title-v2{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 240px;
}

.ambassador-table-title-2{
    color: #0A1748;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    width: 240px;
}

.ambassador-table-check{
    color: #0A1748;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 240px;
}

.ambassador-table-check-last{
    color: #0A1748;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 540px;
}


.sf-ui-disp-14-0a1748-144{
    color: #0A1748;
    font-family: "SF UI Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: -0.5px;
    opacity: 0.6;
}



.giving-table-title{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 750px;
    
    @media all and (max-width: 768px){
        width: 500px;
    }
}


.giving-table-title-v2{
    color: #F56EAC;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
    text-transform: uppercase;
    width: 300px;
    
    @media all and (max-width: 768px){
        width: 200px;
    }
}

.giving-table-title-2{
    color: #0A1748;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    width: 300px;
    
    @media all and (max-width: 768px){
        width: 200px;
    }
}

.giving-table-check{
    color: #0A1748;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    opacity: 0.8;
    width: 750px;
    
    @media all and (max-width: 768px){
        width: 500px;
    }
}


.sf-ui-display-36-yellow{
    color: #E9C21B;
    font-family: "SF UI Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
}

.sf-ui-display-36-pink{
    color: #F56EAC;
    font-family: "SF UI Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.5px;
}


.sf-ui-display-40-greeeen{
    color: #2C9D81;
    font-family: "SF UI Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: -0.5px;
}

.sf-ui-display-14-grey-40000{
    color: rgba(10, 23, 72, 0.60);
    font-family: "SF UI Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.5px;
}

.sf-pro-text-18-white{
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: -0.408px;
}


.sf-pro-display-72{
    color: #0A1748;
    font-family: "SF Pro Display";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.561px;
    
    @media all and (max-width: 768px){
        font-size: 48px;
    }
}

.sf-ui-display-32-400-06{
    color: #0A1748;
    font-family: "SF UI Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.6;
    letter-spacing: -0.75px;
    
    @media all and (max-width: 768px){
        font-size: 24px;
    }
}

.sf-ui-display-32-700-120{
    color: #0A1748;
    font-family: "SF UI Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: -0.75px;
    
    @media all and (max-width: 768px){
        font-size: 24px;
    }
}

.sf-ui-display-24-400-120{
    color: #0A1748;
    font-family: "SF UI Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    letter-spacing: -0.75px;
    opacity: 0.6;
    
    @media all and (max-width: 768px){
        font-size: 18px;
    }
}